<div ng-controller="categoriesController" class="border_content" ng-init="init(options)">
	<div id="alertMsg" style="display:none;"></div>
	<div style="margin: 0 0 5px;" ng-init="select_1 = ''">
		<div class="input-prepend">
            <form id="validateSearch" name="formSearch" ng-submit="searchData('categories');">
                <label class="lbl-filter-by">Search by:</label><br>
                <div class="select-attr">
                    <label class="lbl-filter-left">Name</label>
                    <input class="input-filter" name="names" id="inputIcon" type="text" ng-model="names" placeholder="Name"> 
                    <input  ng-disabled="formSearch.$invalid" class="img" type="image" src="img/btn-search.png" title="Search" />
                    <img class="img" src="img/btn-clear.png" ng-click="resetSearch()" title="Clear" style="cursor:pointer"/>
                    <img class="img" src="img/btn-refresh.png" ng-click="init(options);resetSearch()" title="Refresh" style="cursor:pointer"/>       
                </div>
                <!-- date create -->
                <div style="clear:both;"></div>
                <label class="lbl-filter-left">Date created</label>
                <!-- option -->
                <div class="select-type-date">
                    <select id="date-selection" name="select" class="select-filter" ng-model="option_1" >
                        <option value="">--Select--</option>
                        <option value="=">=</option>
                        <option value=">=">>=</option>
                        <option value="<="><=</option>
                        <option value="between">between</option>
                    </select>
                </div>
                <!-- datepicker 1 -->
                <div  class="div-datepick">
                    <div class="datepicker1" ng-show="option_1 != ''">
                        <div class="controls">
                            <div class="input-append">
                                <input ng-pattern="date" readonly novalidate name="from_created" class="datepick" type="text" id="from_created" ng-model="from_created"/>
                                <span class="add-on from_created"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.from_created.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- datepicker 2 -->
                    <div class="datepicker2" ng-show="option_1 == 'between'"> 
                        <div class="controls">
                            <div class="input-append">
                                <input  ng-pattern="date" readonly name="to_created" class="datepick" type="text" id="to_created" ng-model="to_created" />
                                <span class="add-on to_created"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.to_created.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- date modified -->
                <div style="clear:both;"></div>
                <label class="lbl-filter-left">Date modified</label>
                <div class="select-type-date">
                    <select id="date-selection" name="select" class="select-filter" ng-model="option_2" >
                        <option value="">--Select--</option>
                        <option value="=">=</option>
                        <option value=">=">>=</option>
                        <option value="<="><=</option>
                        <option value="between">between</option>
                    </select>
                </div>

                <div  class="div-datepick">
                    <div class="datepicker1" ng-show="option_2 != ''">
                        <div class="controls">
                            <div class="input-append">
                                <input ng-pattern="date" readonly novalidate name="from_modified" class="datepick" type="text" id="from_modified" ng-model="from_modified"/>
                                <span class="add-on from_modified"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.from_modified.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="datepicker2" ng-show="option_2 == 'between'"> 
                        <div class="controls">
                            <div class="input-append">
                                <input  ng-pattern="date" readonly name="to_modified" class="datepick" type="text" id="to_modified" ng-model="to_modified" />
                                <span class="add-on to_modified"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.to_modified.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div> 
    </div>
   <!--  <div style="float: right; margin: 5px">
      <button class="btn btn-primary" ng-click="open()">New</button>
      <button class="btn btn-danger" 	ng-click="delete()">Delete</button>
  </div> -->
  <table class="table table-striped">
      <thead>
       <tr>
        <th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check =! check; " > </th>
        <th><a class="sort" href="" ng-click="predicate = '_data.title'; reverse=!reverse">Name</a></th>
        <th><a class="sort" href="" ng-click="predicate = '_data.created'; reverse=!reverse">Date Created</a></th>
        <th><a class="sort" href="" ng-click="predicate = '_data.modified'; reverse=!reverse">Date Modified</a></th>
    </tr>
</thead>
<tr ng-repeat="cate in categories | filter:filterByTitle | orderBy:predicate:reverse">
   <td>
    <input ng-click="check1()" class="chk" name="chk" type="checkbox" value="{{cate._data.uuid}}" ng-checked="checkall">
</td>
<td><a href="" ng-click="openDetail(cate._data)"> {{cate._data.title}}</a></td>
<td> {{cate._data.created | date:'MM/dd/yyyy - h:mma'}} </td>
<td> {{cate._data.modified | date:'MM/dd/yyyy - h:mma'}} </td>
</tr>
</table>
<div id="messNotFound" style="display:none;text-align: center;">
  No record found.
</div>
<!-- <div>
  <hr>
  <ul class="pager">
     <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
     <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li>
 </ul>
</div> -->
<div class="div-footer">
    <img class="img" src="img/btn-delete.png" ng-click="delete()"/>
    <img class="img" src="img/btn-new.png" ng-click="open()"/>
    <ul class="pager" style="float:right;">
        <!-- <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
        <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li> -->
        <img class="img" src="img/prev-1.png" ng-click="prevPage()" id="prevPage"/>
        <img class="img" src="img/next-2.png" ng-click="nextPage()" id="nextPage"/>
    </ul>
</div>
<div modal="shouldBeOpen" close="close()" options="opts" data-keyboard="false" data-backdrop="static">
  <form name="Detail" novalidate>
   <div id="working" class="working" style="display:none;">
    <span class="v1alert-message warning inline">Loading...</span>
</div>
<div class="modal-header">
    <button type="button" class="close" ng-click="shouldBeOpen =! shouldBeOpen" aria-hidden="true">×</button>
    <h3>Add new Category</h3>
</div>
<div class="modal-body">
    <label>Name</label>
    <input name="name" type="text" ng-model="title" required ng-pattern="word" placeholder="Name">
    <span class="custom-error"ng-show="Detail.name.$dirty && Detail.name.$error.required">
     Name {{REQUIRED}}
 </span>
 <span class="custom-error" ng-show="Detail.name.$error.pattern">Name {{PATTERN}}</span>
</div>
<div class="modal-footer">
    <!-- <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" ng-click="createCategory()" ng-disabled="(Detail.name.$pristine || Detail.name.$dirty && Detail.name.$invalid)">Save</button> -->

    <img class="img" data-dismiss="modal" ng-click="close()" src="img/btn-cancel.png" style="cursor:pointer"/>
    <button class="btn-addsave" data-toggle="modal" ng-click="createCategory()" ng-disabled="(Detail.name.$pristine || Detail.name.$dirty && Detail.name.$invalid)"></button>
</div>
</form>
</div>

<div modal="shouldBeOpenDetail" close="close()" options="opts" data-keyboard="false" data-backdrop="static" >
  <form name="Detail" novalidate>
   <div id="working1" class="working" style="display:none;">
    <span class="v1alert-message warning inline">Loading...</span>
</div>
<div class="modal-header">
    <button type="button" class="close" ng-click="shouldBeOpenDetail =! shouldBeOpenDetail" aria-hidden="true">×</button>
    <h3>Category Details</h3>
</div>
<div class="modal-body">
    <label>Name</label>
    <input name="name" type="text" ng-model="title" ng-change="changeForm(title)" ng-pattern="word" required placeholder="Name">
    <span class="custom-error"ng-show="Detail.name.$dirty && Detail.name.$error.required">
     Name {{REQUIRED}}
 </span>
 <span class="custom-error" ng-show="Detail.name.$error.pattern">Name {{PATTERN}}</span>
</div>
<div class="modal-footer">
<!--     <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
    <button class="btn btn-primary" id="btn_update_store" ng-click="updateCategory()" ng-disabled="(Detail.name.$pristine || Detail.name.$dirty && Detail.name.$invalid)">Save</button> -->
    <img class="img" data-dismiss="modal" ng-click="close()" src="img/btn-cancel.png" style="cursor:pointer"/>
    <button class="btn-addsave" id="btn_update_store" data-toggle="modal" ng-click="updateCategory()" ng-disabled="(Detail.name.$pristine || Detail.name.$dirty && Detail.name.$invalid)"></button>
</div>
</form>
</div>
<!-- Test upload -->
<!-- <h1> Test upload image </h1>
<form name="contactform">  
        <h2>Single image</h2>
        <div>
            <label for="inputImage">Image</label>
            
            <input id="inputImage" type="file" accept="image/*" image="image" />
            
            <img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}"/> 
            <button type="submit" ng-click="upload(image)">Add</button>
            <button type="reset">Clear</button>
        </div>
</form>
<p>Uploaded Image / Size: {{sizeInBytes}} Bytes</p>
<img ng-src="{{uploadedImgSrc}}"/> -->

<!-- End test -->
</div>
<script type="text/javascript">
function imgError(image){
	$(image).show();
}
</script>
<script>
$(function() {
      //    $("#validateSearch").validationEngine();
      $( "#from_created" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
            $("#to_created").datepicker("option","minDate",selectedDate);
        }
    });
      $( "#from_modified" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
            $("#to_modified").datepicker("option","minDate",selectedDate);
        }
    });
      $( "#to_created" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
           // $("#from").datepicker("option","maxDate",selectedDate);
       }
   });
      $( "#to_modified" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
           // $("#from").datepicker("option","maxDate",selectedDate);
       }
   });
      $(".from_created").click(function(){
        $("#from_created").datepicker('show');
    });
      $(".to_created").click(function(){
        $("#to_created").datepicker('show');
    });
      $(".from_modified").click(function(){
        $("#from_modified").datepicker('show');
    });
      $(".to_modified").click(function(){
        $("#to_modified").datepicker('show');
    });
  });
</script>