/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
  */



/* Body and structure
-------------------------------------------------- */

body {
  position: relative;
}

/* Code in headings */
h3 code {
  font-size: 14px;
  font-weight: normal;
}

@font-face {
   src:url(/css/HelveticaNeueLTStd-LtEx.otf);
   font-family: "HelveticaNeueLight";   
   font-style: normal;
}

.name_panel{font-family:"HelveticaNeueLight";
font-size:2.2em;
position:absolute;
top:25px}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.admin_page{
  margin-bottom: 10px;
  min-height:650px;
}
.navbar-inner{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}


/* Sections
-------------------------------------------------- */


/* Responsive docs
-------------------------------------------------- */

/* Utility classes table
------------------------- */
.responsive-utilities th small {
  display: block;
  font-weight: normal;
  color: #999;
}
.responsive-utilities tbody th {
  font-weight: normal;
}
.responsive-utilities td {
  text-align: center;
}
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}

/* Responsive tests
------------------------- */
.responsive-utilities-test {
  margin-top: 5px;
  margin-left: 0;
  list-style: none;
  overflow: hidden; /* clear floats */
}
.responsive-utilities-test li {
  position: relative;
  float: left;
  width: 25%;
  height: 43px;
  font-size: 14px;
  font-weight: bold;
  line-height: 43px;
  color: #999;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.responsive-utilities-test li + li {
  margin-left: 10px;
}
.responsive-utilities-test span {
  position: absolute;
  top:    -1px;
  left:   -1px;
  right:  -1px;
  bottom: -1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.responsive-utilities-test span {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}



/* Sidenav for Docs
-------------------------------------------------- */
.bs-docs-sidenav {
  width: 228px;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li{
  background: url(/img/bg-menu-unactive.png) repeat-x;
  margin:0 0 2px 0
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 7px 14px;
  /*  border: 1px solid #c6c5c0;*/
  color:#464646;
  font-weight: bold;
}
/*.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  }*/

/*.bs-docs-sidenav > li:first-child.activeMenu {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  }*/
/*.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav > li:last-child.activeMenu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  }*/

  .bs-docs-sidenav > .activeMenu {
    background: url(/img/bg-menu-active.png) repeat-x;
  }

  .bs-docs-sidenav > .activeMenu a{
    color:  #898989;
  }
  /* Chevrons */
  .bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
  }
  .bs-docs-sidenav > li > a:hover {
    background-color: #858585;
    color: white;
    text-shadow: 0 -1px 0 rgba(44, 34, 34, 0.37);
  }
  .bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
  }
  .bs-docs-sidenav .activeMenu .icon-chevron-right,
  .bs-docs-sidenav .activeMenu a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
  }
  .bs-docs-sidenav.affix {
    top: 40px;
  }
  .bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
  }

  .loading {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.8 ) 
    url('../img/loading.gif') 
    50% 50% 
    no-repeat;
  }
  .working {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0 ) 
    50% 50% 
    no-repeat;
    border-radius: 5px;      
    margin: 5px auto;       
  }
  .working .v1alert-message{
    left: 47%;
    top: 5%;
    padding: 7px;
    width: 64px;
    font-size: 14px;
  }
  /*Anhnk*/
  .custom-error {
    color:#FF0000;
  }
  .toolbar{
    margin: 5px;
    height: 20px;
  }
  .toolbar .btn-tool{
    float: right;
    margin-left: 3px;
  }
  .hr-tool{
    margin: 5px;
  }
  .multi_select{
    width: 100%;
  }
  .select_wrapper{
    border:1px;
    width:648px;
    height:250px;
  }
  .select_left{
    float: left;
    border:1px;
    width:216px;
    height:248px;
  }
  .select_center{
    margin: 45px auto;
    float: left;
    border:1px;
    width:216px;
    height:248px;
    text-align: center;
  }
  .select_right{
    float: left;
    border:1px;
    width:216px;
    height:248px;
  }
  .btn-tool{
    margin-top: 2px;
    width: 50px;
  }
  .btn-margin{
    margin-top: 12px;
  }
  .select_title{
    font-weight: bold;
  }
  /*end Anhnk*/
  .false{
    display: none!important;
  }
  .true{

    display: inline-block;

  }
  .custom-error-login {
    color:#FF0000;
    display: block;
  }
  .infoRecord{
    float: left;
  }

  table > thead > tr >th> a:hover{
    text-decoration: none;
  }
  .thumbnail{
    display: inline;
  }
  #display_name{
    padding: 0px 5px;
    font-size: 14px;
  }

/*footer{
  width: 100%;
  height: 35px;
  background: rgba( 255, 255, 255, 0.8 ) 
  url('../img/bg.png') 
  repeat-x;
  position: absolute;
  }*/

  .sort #sortImg{
    color:#9C9C9C;
  }

  .myMod{
    max-width: 75%;
    width: 70%;
    margin: -22% 0 0 -10%;
    max-height: 85%;
  }

  .redactor_editor{
    max-height:200px;

  }
  .clearfix{
    clear:both;
  }

  select:focus:required:invalid:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  }

  select:focus:required:invalid {
    color:black;
    border-color: #ee5f5b;
  }

  .redactor_box{
    margin: 10px 10px 10px 100px;
  }

  .redactor_modal_btn{
    margin-top: 5px;
  }

  .add-on{
    cursor:pointer;
  }
  .no-record{
    position:absolute;
    left:55%;
    top:15%
  }

  input[readonly]{
    background-color: #fff;
  }

  .modal-header{
    opacity: 0.8;
    background: url(/img/popup-bg.png) repeat-x;
  }

  button.btn-addsave{
    background-image: url("/img/btn-save.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 90px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    border:none;
  }

  button.btn-addsave[disabled]{
    background-image: url("/img/btn-save-disable.png"); /* change img */
    border:none;
    background-color:#f5f5f5;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 90px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin:1px -1px 0 1px;
  }

  .border_content2{
    background-color: #FFF;
    width: 650px;
    margin: 0px auto;
    border: 1px solid #D4D0D0;
    padding: 10px;
  }

  .title{
    color: #565656;
    font-size: 20px;
    font-weight:bold;
    margin: 10px;
  }
  .content {
    padding: 0px 0px 0px 15px;
    margin: 10px 0 0 0;
  }

  .content .groupbutton{
    float:right;
    margin: 10px 0 10px 0;
  }

  .content p{
    float:left;
    margin: 0 20px 0 0;
  }

  .content div label{
    float:left;
    width:100px;
    padding-top: 8px;
  }

  .content div .span-display{
    float:left;
    display: inline-block;
    padding-top: 8px;
    margin-left: 0px;

  }
  .content hr{
    clear:left;
  }

  .table thead{
    background-color: #EBEBEB;
  }

  .content .status{
    padding-top: 0px;
    margin-bottom:12px;
  }

  .content hr{
    margin: 0 0 5 0;
  }
  .content input,select{
    margin-top: 4px;
  }

/*.border_content{
  width: 850px;
  margin: 0px auto;
  border-left: 8px solid #c6c5c0;
  padding: 5px;
  border-radius: 5px;
}
.border_content2{
  width: 650px;
  margin: 0px auto;
  border: 1px solid #c6c5c0;
  padding: 5px;
  border-radius: 5px;
  }*/
  .alert1{
    display: none;
  }

  #select.ng-invalid-required{

    color:black;
  }

  .input-prepend .img{
    width:32px;
    height:29px;
    margin-top: 0;
    margin-left: 10px;
  }

  .search-error{
    background:red;
    color:#fff;
    padding:2px;
    top:-1px;
    position:absolute;
    margin-top:35px;
    border-radius:6px;
    border: 2px solid #eae9c2;

  }
  .formErrorArrow div {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    box-shadow: 0 2px 3px #444;
    -moz-box-shadow: 0 2px 3px #444;
    -webkit-box-shadow: 0 2px 3px #444;
    -o-box-shadow: 0 2px 3px #444;
    font-size: 0px;
    height: 1px;
    background: #ee0101;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    display: block;
  }
  .formErrorArrow .line10{
    width: 15px;
    border: none;
  }
  .formErrorArrow .line9{
    width: 13px;
    border: none;
  }
  .formErrorArrow .line8{
    width: 11px;
    border-left: 1px solid #eae9c2;
    border-right: 1px solid #eae9c2;
  }
  .formErrorArrow .line7{
    width: 9px;
    border-left: 1px solid #eae9c2;
    border-right: 1px solid #eae9c2;
  }
  .formErrorArrow .line6{
    width: 7px;
    border-left: 1px solid #eae9c2;
    border-right: 1px solid #eae9c2;
  }

  .formErrorArrow .line5{
    width: 5px;
    border-left: 1px solid #eae9c2;
    border-right: 1px solid #eae9c2;
  }

  .formErrorArrow .line4{
    width: 3px;
    border-left: 1px solid #eae9c2;
    border-right: 1px solid #eae9c2;
  }

  .formErrorArrow .line3{
    width: 1px;
    border-left: 1px solid #eae9c2;
    border-right: 1px solid #eae9c2;
  }


  .formErrorArrow {
    width: 15px;
    margin: -45px 0 0 13px;
    position: absolute;
  }

  .viewsite a, .viewadmin a{
color:black;
text-decoration:none;
}


.header-right span,img{
display:inline-block;
}


.header2 span{
font-weight:bold
}

.wrapper_login{
background: url(/img/bg-repeat.png);
}

.header_login{
height:70px;
overflow:hidden;
background-color:#F0494F;
}

.header_login p{
font-family: "HelveticaNeueLight";
font-size: 2.5em;
color:#fff;
text-align:center;
line-height: 85px;
}

.username{
background: url(/img/username.png) no-repeat scroll 7px 5px;
padding-left:30px;
}

.password{
background: url(/img/password.png) no-repeat scroll 7px 5px;
padding-left:30px;
}
