<div ng-controller="UserController" class="border_content" ng-init="init(options)">
    <div id="working" class="working" style="display:none;">
        <span class="v1alert-message warning inline">Loading...</span>
    </div>
    <div id="alertMsg" style="display:none;"></div>
    <!-- Search -->
    <div >
        <div class="input-prepend">
            <form id="validateSearch" name="formSearch" ng-submit="searchData('users');">
                <label class="lbl-filter-by">Search by:</label><br>
                <div class="select-attr">
                    <label class="lbl-filter-left">User Name</label>
                    <input class="input-filter" name="usernames" id="inputIcon" type="text" ng-model="usernames" placeholder="User name"> 
                    <input title="Search" ng-disabled="formSearch.$invalid" class="img" type="image" src="img/btn-search.png"/>
                    <img class="img" src="img/btn-clear.png" ng-click="resetSearch()" title="Clear"/>
                    <img class="img" src="img/btn-refresh.png" ng-click="init(options);resetSearch()" title="Refresh"/>      
                </div>
                <div class="div-clear"></div>
                <div class="select-attr">
                    <label class="lbl-filter-left">Display Name</label>
                    <input class="input-filter" name="names" id="inputIcon" type="text" ng-model="names" placeholder="Name"> 
                </div>
                <!-- date create -->
                <div class="div-clear"></div>
                <label class="lbl-filter-left">Date created</label>
                <!-- option -->
                <div class="select-type-date">
                    <select id="date-selection" name="select" class="select-filter" ng-model="option_1" >
                        <option value="">--Select--</option>
                        <option value="=">=</option>
                        <option value=">=">>=</option>
                        <option value="<="><=</option>
                        <option value="between">between</option>
                    </select>
                </div>
                <!-- datepicker 1 -->
                <div  class="div-datepick">
                    <div class="datepicker1" ng-show="option_1 != ''">
                        <div class="controls">
                            <div class="input-append">
                                <input ng-pattern="date" readonly novalidate name="from_created" class="datepick" type="text" id="from_created" ng-model="from_created"/>
                                <span class="add-on from_created"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.from_created.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- datepicker 2 -->
                    <div class="datepicker2" ng-show="option_1 == 'between'"> 
                        <div class="controls">
                            <div class="input-append">
                                <input  ng-pattern="date" readonly name="to_created" class="datepick" type="text" id="to_created" ng-model="to_created" />
                                <span class="add-on to_created"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.to_created.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- date modified -->
                <div class="div-clear"></div>
                <label class="lbl-filter-left">Date modified</label>
                <div class="select-type-date">
                    <select id="date-selection" name="select" class="select-filter" ng-model="option_2" >
                        <option value="">--Select--</option>
                        <option value="=">=</option>
                        <option value=">=">>=</option>
                        <option value="<="><=</option>
                        <option value="between">between</option>
                    </select>
                </div>

                <div  class="div-datepick">
                    <div class="datepicker1"  ng-show="option_2 != ''">
                        <div class="controls">
                            <div class="input-append">
                                <input ng-pattern="date" readonly novalidate name="from_modified" class="datepick" type="text" id="from_modified" ng-model="from_modified"/>
                                <span class="add-on from_modified"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.from_modified.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="datepicker2" ng-show="option_2 == 'between'"> 
                        <div class="controls">
                            <div class="input-append">
                                <input  ng-pattern="date" readonly name="to_modified" class="datepick" type="text" id="to_modified" ng-model="to_modified" />
                                <span class="add-on to_modified"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.to_modified.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div> 
    </div>
    <!-- End Search -->
   
    <div id="workingSearch" class="working">
        <span class="v1alert-message warning inline">Loading...</span>
    </div>
    <table class="table">
        <thead>
            <th><input type="checkbox" class="checkAll" ng-model="check" ng-change="checkAll()"></th>
            <th><a href="">Avatar</a></th>
            <th><a class="sort" href="" ng-click="predicate = '_data.username'; reverse=!reverse">User Name</a></th>
            <th><a class="sort" href="" ng-click="predicate = '_data.name'; reverse=!reverse">Display Name</a></th>
            <th><a class="sort" href="" ng-click="predicate = '_data.created'; reverse=!reverse">Date Created</a></th>
            <th><a class="sort" href="" ng-click="predicate = '_data.modified'; reverse=!reverse">Date Modified</a></th>
        </thead>
        <tr ng-repeat="user in users | filter:filterByUsername | orderBy:predicate:reverse">
            <td>
                <input ng-click="checkItem()" class="chk" type="checkbox" value="{{user._data.uuid}}">
            </td>
            <td> <img ng-src="{{user._data.picture}}" style="width: 32px;height:32px;"/> </td>
            <td> <a href="" ng-click="navDetail(user._data.uuid)"> {{user._data.username}}</a> </td>
            <td> {{user._data.name}} </td>
            <td> {{user._data.created | date:'MM/dd/yyyy - h:mma' }} </td>
            <td> {{user._data.modified | date:'MM/dd/yyyy - h:mma' }} </td>
        </tr>
    </table>
    <div id="messNotFound" style="display:none;text-align: center;">
        No record found.
    </div>
  
  <div class="div-footer">
    <img class="img" src="img/btn-delete.png" ng-click="delete()" />
    <img class="img" src="img/btn-new.png" ng-click="open()"/>
    <ul class="pager" style="float:right;">
        <img class="img" src="img/prev-1.png" ng-click="prevPage()" id="prevPage"/>
        <img class="img" src="img/next-2.png" ng-click="nextPage()" id="nextPage"/>
  </ul>        
</div>

<div modal="shouldBeOpen" close="" options="opts">
    <form name="myForm" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="shouldBeOpen=false" aria-hidden="true">×</button>
            <h3>Add new user</h3>
        </div>
        <div class="modal-body">
            <label>Username:</label>
            <input type="text" name="username" ng-model="username" required ng-pattern="usernameRegex" autofocus/>
            <span ng-show="myForm.username.$dirty && myForm.username.$invalid">
                <span class="custom-error" ng-show="myForm.username.$error.required">Username {{REQUIRED}}</span>
                <span class="custom-error" ng-show="myForm.username.$error.pattern">Username {{PATTERN}}</span>
            </span>

            <label>Full Name:</label>
            <input type="text" name="name" ng-model="name" required ng-pattern="nameRegex">
            <span ng-show="myForm.name.$dirty && myForm.name.$invalid">
                <span class="custom-error" ng-show="myForm.name.$error.required">Name {{REQUIRED}}</span>
                <span class="custom-error" ng-show="myForm.name.$error.pattern">Name {{PATTERN}}</span>
            </span>

            <label>Email:</label> <input type="email" ng-model="email" name="email" required>
            <span ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span class="custom-error" ng-show="myForm.email.$error.required">Email {{REQUIRED}}</span>
                <span class="custom-error" ng-show="myForm.email.$error.email">Please enter a valid email address.</span>
            </span>

            <label>Password:</label> 
            <input type="password" ng-model="password" name="password" required ng-minlength="3" class="inputPass">
            <span ng-show="myForm.password.$dirty && myForm.password.$invalid">
                <span class="custom-error" ng-show="myForm.password.$error.required">Password {{REQUIRED}}</span>
                <span class="custom-error" ng-show="myForm.password.$error.minlength">Password must be at least 3 characters.</span>
            </span>

            <label>Confirm Password:</label> 
            <input type="password"  ng-model="repassword" name="repassword" required ui-equal-to="password" class="inputRePass">
             <span ng-show="myForm.repassword.$dirty && myForm.repassword.$invalid">
            <span class="custom-error" ng-show="myForm.repassword.$error.equal">
                Password do not match.
            </span>
            </span>
             
        </div>
        <div class="modal-footer">

            <img class="img" data-dismiss="modal" src="img/btn-cancel.png" style="cursor:pointer" ng-click="shouldBeOpen=false"/>
            <button class="btn-addsave" data-toggle="modal" ng-click="createUser()" ng-disabled="myForm.$invalid" ></button>
           
           <!--  ng-disabled="
            (myForm.username.$pristine || myForm.username.$dirty && myForm.username.$invalid) ||
            (myForm.name.$pristine || myForm.name.$dirty && myForm.name.$invalid)||
            (myForm.email.$pristine || myForm.email.$dirty && myForm.email.$invalid)||
            (myForm.password.$pristine || myForm.password.$dirty && myForm.password.$invalid)||
            (myForm.repassword.$required) || myForm.$invalid" -->
        </div>
    </form>
</div>
</div>
<script type="text/javascript">
function imgError(image){
    $(image).show();
}
</script>
<script>
$(function() {
  $(function() {
      //    $("#validateSearch").validationEngine();
      $( "#from_created" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
            $("#to_created").datepicker("option","minDate",selectedDate);
        }
    });
      $( "#from_modified" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
            $("#to_modified").datepicker("option","minDate",selectedDate);
        }
    });
      $( "#to_created" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
           // $("#from").datepicker("option","maxDate",selectedDate);
       }
   });
      $( "#to_modified" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
           // $("#from").datepicker("option","maxDate",selectedDate);
       }
   });
  });
$(".from_created").click(function(){
    $("#from_created").datepicker('show');
});
$(".to_created").click(function(){
    $("#to_created").datepicker('show');
});
$(".from_modified").click(function(){
    $("#from_modified").datepicker('show');
});
$(".to_modified").click(function(){
    $("#to_modified").datepicker('show');
});
});
</script>
