<html lang="en">
<head>
	<title>User detail</title>
</head>
<body>
	<div class="admin-content">
	<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div>
	<div class="container" style="padding: 10px 0 10px 0px;min-height: 500px;background-color: #fff;">
	<div class="border_content2" ng-init="initProfile()">
		<div id="working" class="working" style="display:none;">
			<span class="v1alert-message warning inline">Loading...</span>
		</div>
		<div id="alertMsg" style="display:none;"></div>
		<!-- TAB -->
		<ul id="myTab" class="nav nav-tabs">
			<li><a href="#profile" data-toggle="tab" id="profiletab" ng-click="showProfile()">Profile</a></li>
			<li><a href="#grouptab" data-toggle="tab" id="groupstab" ng-click="showGroups()">Groups</a></li>
			<li><a href="#roles" data-toggle="tab" id="rolestab" ng-click="showRoles()">Roles</a></li>
		</ul>

		<div class="tab-content">
			<!-- PROFILE TAB -->
			<div class="tab-pane fade in modal-body" id="profile" >
				<form name="myForm" novalidate ng-submit="update(user.uuid)" id="myForm">
					<img ng-src="{{user.picture}}" style="width: 48px;height:48px;" class="thumbnail"><strong id="display_name">{{original_name}}</strong></img><hr>
					<div class="update">
						<label>User Name:</label>
						<input type="text" ng-model="user.username" name="username" required readonly>
						<span ng-show="myForm.username.$dirty && myForm.username.$invalid">
							<span class="custom-error" ng-show="myForm.username.$error.required">Username {{REQUIRED}}</span>
							<span class="custom-error" ng-show="myForm.username.$error.pattern">Username {{PATTERN}}</span>
						</span>
					</div>
					<div class="update">
						<label>Full Name:</label>
						<input type="text" ng-model="user.name" name="name" required>
						<span ng-show="myForm.name.$dirty && myForm.name.$invalid">
							<span class="custom-error" ng-show="myForm.name.$error.required">Name {{REQUIRED}}</span>
						</span>
					</div>
					<div class="update">
						<label>Title:</label><input type="text" ng-model="user.title" name="title">
					</div>
					<div class="update">
						<label>Home Page:</label> <input type="text" ng-model="user.url" name="homepage">
					</div>
					<div class="update">
						<label>Email:</label>
						<input type="email" ng-model="user.email" name="email" required>
						<span ng-show="myForm.email.$dirty && myForm.email.$invalid">
							<span class="custom-error" ng-show="myForm.email.$error.required">Email {{REQUIRED}}</span>
							<span class="custom-error" ng-show="myForm.email.$error.email">Please enter a valid email address.</span>
						</span>
					</div>
					<div class="update">
						<label>Telephone:</label> <input type="text" ng-model="user.tel" name="telephone" ng-pattern="telephoneRegex">
						<span ng-show="myForm.telephone.$dirty && myForm.telephone.$invalid">
							<span class="custom-error" ng-show="myForm.telephone.$error.pattern">Telephone numbers must be numeric only</span>
						</span>
					</div>
					<div class="update">
						<label>Picture URL:</label> 
						<!-- <input name="picture" type="url" ng-model="user.picture"> -->
						<div style="float:left;">
							<input id="inputUpdate" name="picture" ng-model="user.picture" type="file" accept="image/*" image="image"/>
							<div class="div-clear"></div>
						</div>

						<img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}" width= "30px" height= "30px"/> 
						<!-- <span ng-show="myForm.picture.$dirty && myForm.picture.$invalid">
							<span class="custom-error">Please enter a valid URL.</span>
						</span> -->
					</div>
					<div class="update">
						<label>Birthday:</label> <input type="text" ng-model="user.bday" name="birthday"ng-pattern="birthdayRegex" datepick />
						<span ng-show="myForm.birthday.$dirty && myForm.birthday.$invalid">
							<span class="custom-error" ng-show="myForm.birthday.$error.pattern">Birthday format mm/dd/yyy</span>
						</span>
					</div>
					<div class="modal-footer">
						
						<img class="img" data-dismiss="modal" src="img/btn-cancel.png" ng-click="cancel()" style="cursor:pointer"/>
						<button id="user_update" class="btn-addsave" data-toggle="modal" ng-click="update(user.uuid, image)" ng-disabled="myForm.name.$invalid || myForm.email.$invalid || myForm.telephone.$invalid || myForm.birthday.$invalid||myForm.$pristine"></button>
					</div>
				</form>
			</div><!-- END PROFILE TAB -->

			<!-- GROUPS TAB -->
			<div class="tab-pane fade in" id="grouptab">
				<div class="select_wrapper">
					<div class="select_left">
						<span class="select_title">List group add to user:</span>
						<select name="groupadduser" multiple class="multi_select" style="height:200px">
							<option ng-repeat="group_add in groups_add_user" value="{{group_add}}">{{group_add}}</option>
						</select>
					</div>
					<div class="select_center">
						<button class="btn-tool btn btn-small" ng-click="Add('groupadduser',true)"><b>&gt;</b></button><br/>
						<button class="btn-tool btn btn-small" ng-click="SelectAll('groupadduser',true)"><b>&gt;&gt;</b></button><br/>

						<button class="btn-margin btn-tool btn btn-small" ng-click="Remove('userhasgroup',true)"><b>&lt;</b></button><br/>
						<button class="btn-tool btn btn-small" ng-click="DeselectAll('userhasgroup',true)"><b>&lt;&lt;</b></button><br/>
						<button class="btn-margin btn-tool btn btn-small" ng-click="initGroups()">Reset</button>
					</div>
					<div class="select_right">
						<span class="select_title">List group of this user:</span>
						<select name="userhasgroup" multiple class="multi_select" style="height:200px">
							<option ng-repeat="group in user_has_group" value="{{group}}">{{group}}</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<img class="img" data-dismiss="modal" src="img/btn-cancel.png" ng-click="cancel()" style="cursor:pointer"/>
					<!-- <button class="btn btn-primary" ng-click="updateGroup()">Save</button> -->
					<button class="btn-addsave" data-toggle="modal" ng-click="updateGroup()"></button>
				</div>
			</div> <!-- END GROUP TAB -->

			<!-- ROLES TAB -->
			<div class="tab-pane fade in" id="roles">
				<div class="select_wrapper">
					<div class="select_left">
						<span class="select_title">List role add to user:</span>
						<select name="roleadduser" multiple class="multi_select" style="height:200px">
							<option ng-repeat="role_add in role_add_user" value="{{role_add}}">{{role_add}}</option>
						</select>
					</div>
					<div class="select_center">
						<button class="btn-tool btn btn-small" ng-click="Add('roleadduser',false)"><b>&gt;</b></button><br>
						<button class="btn-tool btn btn-small" ng-click="SelectAll('roleadduser',false)"><b>&gt;&gt;</b></button><br>

						<button class="btn-margin btn-tool btn btn-small" ng-click="Remove('userhasrole',false)"><b>&lt;</b></button><br>
						<button class="btn-tool btn btn-small" ng-click="DeselectAll('userhasrole',false)"><b>&lt;&lt;</b></button><br>

						<button class="btn-margin btn-tool btn btn-small" ng-click="initRoles()">Reset</button>
					</div>
					<div class="select_right">
						<span class="select_title">List role of this user:</span>
						<select name="userhasrole" multiple class="multi_select" style="height:200px">
							<option ng-repeat="role in role_of_user" value="{{role}}">{{role}}</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<img class="img" data-dismiss="modal" src="img/btn-cancel.png" ng-click="cancel()" style="cursor:pointer"/>
					<!-- <button class="btn btn-primary" ng-click="updateRole()">Save</button> -->
					<button class="btn-addsave" data-toggle="modal" ng-click="updateRole()"></button>
				</div>
			</div> <!-- END ROLES TAB -->
		</div><!-- END TAB CONTENT -->
	</div>
	</div> <!-- end container -->
	</div>
</body>
</html>

<script>
$(function() {
	
      $("#inputUpdate").click(function(){
        $('#user_update').removeAttr("disabled", "disabled");
      });

	});
</script>