<div ng-controller="zpagingController" class="border_content" ng-init="init()">
	<div id="alertMsg" style="display:none;"></div>	
	<div style="float: left; margin: 5px">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-search"></i></span>
            <input id="inputIcon" type="text" ng-model="search" placeholder="Search">
        </div>
    </div>
	<div style="float: right; margin: 5px">
		<button class="btn btn-primary" ng-click="open()">New</button>
		<button class="btn btn-danger" 	ng-click="deleteGroup()">Delete</button>				
	</div>
	<table class="table">
		<thead>
			<th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check = !check; " > </th>
			<th><a class="sort" href="" ng-click="predicate = '_data.path'; reverse=!reverse">Path</a></th>
			<th><a class="sort" href="" ng-click="predicate = '_data.title'; reverse=!reverse">Title</a></th>
			<th><a class="sort" href="" ng-click="predicate = '_data.created'; reverse=!reverse">Created Date</a></th>
		</thead>
		<tr ng-repeat="group in groups | filter:filterByPath | orderBy:predicate:reverse| startFrom:currentPage*pageSize | limitTo:pageSize">
			<td>
				<input ng-click="check1()" class="chk" name="chk" type="checkbox" value="{{group._data.uuid}}">
			</td>
			<td><a href="" ng-click="navDetail(group._data.uuid)"> {{group._data.path}} </a></td>
			<td> {{group._data.title}} </td>
			<td> {{group._data.created | date:'MM/dd/yyyy - h:mma' }} </td>
		</tr>
	</table>
	<div class="modal-footer">
		<!-- <ul class="pager">
          <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
          <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li>
        </ul> -->
            <span class="infoRecord"><b>{{totalRecord}}</b> group - page <b>{{currentPage+1}}/{{numberOfPages}}</b></span>
            <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=0"><i class="icon-step-backward"></i></button>
            <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><i class="icon-backward"></i></button>
            <button ng-repeat="page in pages" class="btn btn-default" ng-click="paging(page-1)">{{page}}</button>
            <button class="btn btn-default" ng-disabled="currentPage>=groups.length/pageSize - 1" ng-click="currentPage=currentPage+1"><i class="icon-forward"></i></button>
            <button class="btn btn-default" ng-disabled="currentPage>=groups.length/pageSize - 1" ng-click="paging(groups.length/pageSize-1)"><i class="icon-step-forward"></i></button>
    </div>

    <!-- Create group pop-up -->
	<div modal="shouldBeOpen" close="close()" options="opts">
		<form name="myForm" novalidate>
	        <div class="modal-header">
	            <h3>Create new group</h3>
	        </div>
	        <div class="modal-body">
				<label>Display name: </label>
				<input type="text" name="title" ng-model="title" required ng-pattern="titleRegex" autofocus/>
				<span ng-show="myForm.title.$dirty && myForm.title.$invalid">
                	<span class="custom-error" ng-show="myForm.title.$error.required">Name is required.</span>
                    <span class="custom-error" ng-show="myForm.title.$error.pattern">Name contains word only!</span>
                </span>
	          	<label>Group Path: </label>
	          	<input type="text" name="path" ng-model="path" required ng-pattern="pathRegex"/>
				<span ng-show="myForm.path.$dirty && myForm.path.$invalid">
                	<span class="custom-error" ng-show="myForm.path.$error.required">Path is required.</span>
                    <span class="custom-error" ng-show="myForm.path.$error.pattern">Path contains word only!</span>
                </span>
	        </div>
	        <div class="modal-footer">
	        	<button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
	        	<button class="btn btn-primary" ng-click="createGroup()" ng-disabled="(myForm.title.$pristine || myForm.title.$dirty && myForm.title.$invalid)||(myForm.path.$pristine || myForm.path.$dirty && myForm.path.$invalid)">New</button>	            
	        </div>
    	</form>
    </div>
    <!-- END Create group pop-up -->
</div>