<div class="wrapper_login">
<div class="header_login">
	<p> Easy Cash Solution Admin Panel </p>
</div>
<div class="login" ng-init="checkCookie()">
	<div id="working" class="working" style="display:none;">
        <span class="v1alert-message warning inline">Working...</span>
    </div>
	<div class="alertLogin" id="alertMsg" style="display:none;"></div>
	<form name="myForm" novalidate>
		<!-- <img src="/img/img.png" class="login_logo"/> -->
		<fieldset>
	    <legend>Login</legend>
		    <div>
			    <label>Username:</label>
			    <input class="text username" type="text" placeholder="Enter username…" ng-model="username" name="username"required ng-pattern="usernameRegex" autofocus>
			    <span ng-show="myForm.username.$dirty && myForm.username.$invalid">
	                <span class="custom-error-login" ng-show="myForm.username.$error.required">Username {{REQUIRED}}</span>
					<span class="custom-error-login" ng-show="myForm.username.$error.pattern">Username {{PATTERN}}</span>
	            </span>
			</div>
			<div>
			    <label>Password:</label>
			    <input class="text password" type="password" placeholder="Enter password…" ng-model="password" name="password" required ng-minlength="3">
			    <span ng-show="myForm.password.$dirty && myForm.password.$invalid">
                    <span class="custom-error-login" ng-show="myForm.password.$error.required">Password {{REQUIRED}}</span>
                    <span class="custom-error-login" ng-show="myForm.password.$error.minlength">Password must be at least 3 characters.</span>
                </span>
			</div>
			<div class="remember">
			    <label class="checkbox">
			    	<span><input type="checkbox" ng-model="remember"> Remember me</span>
			    </label>
			</div>
			<div>
				<button type="submit" class="btn btn-primary btn-login" ng-click="_login(username, password)" ng-disabled="myForm.$invalid">Login</button>
				<!-- <button ng-click="getResponse()">CHECK</button> -->
			</div>
			<div id="asd"></div>
			<div class="clearfix"/>
		</fieldset>
	</form>
</div>
<div>

