
<div>
	<form class="form-horizontal" ng-submit="submit()">
		<div class="control-group">
		    <label class="control-label">User Name</label>
		    <div class="controls">
		      <input type="text" ng-model="username" placeholder="UserName" require>
		    </div>
		</div>
		<div class="control-group">
		    <label class="control-label">FullName</label>
		    <div class="controls">
		      <input type="text" ng-model="fullname" require>
		    </div>
		</div>
		<div class="control-group">
		    <label class="control-label">Email</label>
		    <div class="controls">
		      <input type="text" ng-model="email" require>
		    </div>
		</div>
		 <div class="control-group">
		    <label class="control-label">Password</label>
		    <div class="controls">
		      <input type="password" ng-model="password" require>
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label">Repeat Password</label>
		    <div class="controls">
		      <input type="password" ng-model="repassword" require>
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		       <input type="submit" class="btn" id="submit" value="Submit" />
		    </div>
		  </div>
	</form>
</div>
		  
