<div class="admin-content">
    <!-- <div class="navbar"> -->
    <!-- <div class="navbar-inner"> -->
    <!-- <div class="top-header">
        <div class="container">
            <div class="header1"> 
                <p class="name_panel">Easy Cash Solution Admin Panel</p>
            </div>
            <div class="header2"> 
                <div class="header-left">
                    <a href="#/admin">
                        <img class="img" src="img/home.png"  title="Home" style="float:left;"/>
                    </a>
                    <a href="#/admin"><h3>Admin</h3></a>
                </div>
                
                <div class="header-right">
                    <div class="viewsite">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><img src="img/view-site.png" title="Home" /><span>View Site</span></a>
                    </div>
                    <div class="viewadmin">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><img src="img/admin.png" title="Home" /><span>{{current_user}}</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(null)" ng-click="setting(user._data.uuid)"><i class="icon-wrench icon-black"></i> Setting</a></li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="logout()"><i class="icon-off icon-black"></i> Logout</a></li>
                            </ul>
                        </li>
                    </div>
                </div>

            </div>
        </div>
    </div> -->
    <!-- Navigation bar top -->
    <div class="nav-menu">
        <div class="nav-top">
            <div class="container">
                <img class="logoEa"src="/img/logo-text.png"/>
                <div class="viewadmin pull-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><img src="img/admin.png" title="Home" /><span>{{current_user}}</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(null)" ng-click="setting(user._data.uuid)"><i class="icon-wrench icon-black"></i> Setting</a></li>
                            <li class="divider"></li>
                            <li><a href="#" ng-click="logout()"><i class="icon-off icon-black"></i> Logout</a></li>
                        </ul>
                    </li>
                </div>
                <div class="viewsite pull-right">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><img src="img/view-site.png" title="Home" /><span>View Site</span></a>
                </div>
            </div>
        </div>
        <div class="nav-bot">
            <div class="container">
                <ul class="menu-list">
                    <a href="#/admin">
                        <img class="img" src="img/home.png"  title="Home" style="float:left;"/>
                    </a>
                    <li ng-repeat="collection in collections" ng-click="setTemplate(collection)" id="{{collection}}"><a href="">    {{collection | uppcaseFirstChar}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End header -->
    <!-- Content -->
    <div class="admin_page container">
        <div class="row-fluid">
           <!--  <div class="span3" id="span3">
              <div class="top-menu">Side Menu</div>

              <ul class="nav nav-list bs-docs-sidenav affix">
                <li ng-repeat="collection in collections" ng-click="setTemplate(collection)" id="{{collection}}"><a href="">{{collection | uppcaseFirstChar}}</a></li>
              </ul>
        </div> -->
        <div class="span12" id="span9">
            <div id="mylist" class="header-title">
                <h3>{{header_title}}</h3>
            </div>
            <div ng-include src="templates"></div>
        </div>
    </div>
</div>
<!-- End content -->
<footer></footer>
</div>

<div id="myModal" class="loading"> 
 <!-- Place at bottom of page -->
</div>
