<!-- <div class="navbar">
  <div class="navbar-inner">
    <div class="container" style="height: 100px;background-color: #ccc;">
        <a href="" class="brand">Admin Panel</a>
        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">
                <li><a href="#/admin"><i class="icon-home icon-white"></i> Home</a></li>
                <li class="active"><a href="#/admin">Admin</a></li>
            </ul>
            <ul class="nav pull-right">
                <li class="divider-vertical"></li>

                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-user icon-white"></i> {{current_user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:void(null)" ng-click="setting(user._data.uuid)"><i class="icon-wrench icon-black"></i> Setting</a></li>
                      <li class="divider"></li>
                      <li><a href="#" ng-click="logout()"><i class="icon-off icon-black"></i> Logout</a></li>
                    </ul>
                </li>
              <li class="divider-vertical"></li>
          </ul>
        </div><!-- /.nav-collapse --> 
      <!-- <div class="header1"> 
        <h2>Easy Cash Solution Admin Panel</h2>
      </div>
      <div class="header2"> 
        <div style="float:left; width:40%;">
            <img class="img" src="img/home.png" ng-click="#/admin" title="Home" style="cursor:pointer"/>
        <a href="#/admin"><h3>Admin</h3></a>
        </div>
        
        <div style="float:right; width:40%;">
            <div class="viewsite">
            <img class="img" src="img/view-site.png" ng-click="#/admin" title="Home" style="cursor:pointer"/>
        </div>
        <div class="viewadmin">
            <img class="img" src="img/admin.png" ng-click="#/admin" title="Home" style="cursor:pointer"/>
        </div>
        </div>
        
      </div> 
  </div>
</div>
</div> -->
<div class="nav-menu">
        <div class="nav-top">
            <div class="container">
                <img class="logoEa"src="/img/logo-text.png"/>
                <div class="viewadmin pull-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><img src="img/admin.png" title="Home" /><span>{{current_user}}</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(null)" ng-click="setting(user._data.uuid)"><i class="icon-wrench icon-black"></i> Setting</a></li>
                            <li class="divider"></li>
                            <li><a href="#" ng-click="logout()"><i class="icon-off icon-black"></i> Logout</a></li>
                        </ul>
                    </li>
                </div>
                <div class="viewsite pull-right">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><img src="img/view-site.png" title="Home" /><span>View Site</span></a>
                </div>
            </div>
        </div>
        <div class="nav-bot">
            <div class="container">
                <ul class="menu-list">
                    <a href="#/admin">
                        <img class="img" src="img/home.png"  title="Home" style="float:left;"/>
                    </a>
                    <li ng-repeat="collection in collections" ng-click="redirectAdmin(collection); alert('ok');" id="{{collection}}"><a href="">    {{collection | uppcaseFirstChar}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
                    <!-- <div id="myModal" class="loading"> -->

