<div ng-controller="ImagesController" class="border_content" ng-init="init(options)">
	<div id="alertMsg"></div>
	<div class="div-search">
		
		<div class="input-prepend">
			<form id="validateSearch" name="formSearch" ng-submit="searchData('galleries');">
				<label class="lbl-filter-by">Search by:</label><br>
				<div class="select-attr">
					<label class="lbl-filter-left">Title</label>
					<input class="input-filter" name="titles" id="inputIcon" type="text" ng-model="titles" placeholder="Title">	
					<input title="Search"  ng-disabled="formSearch.$invalid" class="img" type="image" src="img/btn-search.png"/>
					<img class="img" src="img/btn-clear.png" ng-click="resetSearch()" title="Clear"/>
					<img class="img" src="img/btn-refresh.png" ng-click="init(options);resetSearch()" title="Refresh"/>					
				</div>
				<div class="div-clear"></div>
				<div class="select-attr">
		          	<label class="lbl-filter-left">Store</label>
		          	<select style="width:auto;" ng-model="str" ng-options="str.title for str in storeList" >
						<option value="" selected>--Select--</option>
					</select>
				</div>
				<div class="select-type-date">
					<label class="lbl-filter-left">Status</label>
					<select id="status_selected" name="select" class="select-filter" ng-model="status_selected">
						<option value="">--Select--</option>
						<option value="draft">Draft</option>
						<option value="published">Published</option>
					</select>
				</div>

				
		      
				<!-- date create -->
				<div class="div-clear"></div>
				<label class="lbl-filter-left">Date created</label>
				<!-- option -->
				<div class="select-type-date">
					<select id="date-selection" name="select" class="select-filter" ng-model="option_1" >
						<option value="">--Select--</option>
						<option value="=">=</option>
						<option value=">=">>=</option>
						<option value="<="><=</option>
						<option value="between">between</option>
					</select>
				</div>
				<!-- datepicker 1 -->
				<div  class="div-datepick">
					<div class="datepicker1" ng-show="option_1 != ''">
						<div class="controls">
							<div class="input-append">
								<input ng-pattern="date" novalidate name="from_created" class="datepick" type="text" id="from_created" ng-model="from_created" readonly/>
								<span class="add-on from_created"><i class="icon-calendar from_created"></i></span>
							</div>
						</div>
						<div ng-show="formSearch.from_created.$error.pattern">
							<span class="search-error">mm/dd/yyyy</span>
							<div class="formErrorArrow">
								<div class="line10"></div>
								<div class="line9"></div>
								<div class="line8"></div>
								<div class="line7"></div>
								<div class="line6"></div>
								<div class="line5"></div>
								<div class="line4"></div>
								<div class="line3"></div>
							</div>
						</div>
					</div>
					<!-- datepicker 2 -->
					<div class="datepicker2" ng-show="option_1 == 'between'"> 
						<div class="controls">
							<div class="input-append">
								<input  ng-pattern="date" name="to_created" class="datepick" type="text" id="to_created" ng-model="to_created" readonly/>
								<span class="add-on to_created"><i class="icon-calendar to_created"></i></span>
							</div>
						</div>
						<div ng-show="formSearch.to_created.$error.pattern">
							<span class="search-error">mm/dd/yyyy</span>
							<div class="formErrorArrow">
								<div class="line10"></div>
								<div class="line9"></div>
								<div class="line8"></div>
								<div class="line7"></div>
								<div class="line6"></div>
								<div class="line5"></div>
								<div class="line4"></div>
								<div class="line3"></div>
							</div>
						</div>
					</div>

				</div>
				<!-- date modified -->
				<div class="div-clear"></div>
				<label class="lbl-filter-left">Date modified</label>
				<div class="select-type-date">
					<select id="date-selection" name="select" class="select-filter" ng-model="option_2" >
						<option value="">--Select--</option>
						<option value="=">=</option>
						<option value=">=">>=</option>
						<option value="<="><=</option>
						<option value="between">between</option>
					</select>
				</div>

				<div  class="div-datepick">
					<div class="datepicker1" ng-show="option_2 != ''">
						<div class="controls">
							<div class="input-append">
								<input ng-pattern="date" novalidate name="from_modified" class="datepick" type="text" id="from_modified" ng-model="from_modified" readonly/>
								<span class="add-on from_modified"><i class="icon-calendar from_modified"></i></span>
							</div>
						</div>
						<div ng-show="formSearch.from_modified.$error.pattern">
							<span class="search-error">mm/dd/yyyy</span>
							<div class="formErrorArrow">
								<div class="line10"></div>
								<div class="line9"></div>
								<div class="line8"></div>
								<div class="line7"></div>
								<div class="line6"></div>
								<div class="line5"></div>
								<div class="line4"></div>
								<div class="line3"></div>
							</div>
						</div>
					</div>
					<div class="datepicker2" ng-show="option_2 == 'between'"> 
						<div class="controls">
							<div class="input-append">
								<input  ng-pattern="date" name="to_modified" class="datepick" type="text" id="to_modified" ng-model="to_modified" readonly/>
								<span class="add-on to_modified"><i class="icon-calendar to_modified"></i></span>
							</div>
						</div>
						<div ng-show="formSearch.to_modified.$error.pattern">
							<span class="search-error">mm/dd/yyyy</span>
							<div class="formErrorArrow">
								<div class="line10"></div>
								<div class="line9"></div>
								<div class="line8"></div>
								<div class="line7"></div>
								<div class="line6"></div>
								<div class="line5"></div>
								<div class="line4"></div>
								<div class="line3"></div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div id="workingSearch" class="working">
		<span class="v1alert-message warning inline">Loading...</span>
	</div>
	<table class="table table-striped" id="table" style="display:none;">
		<thead>
			<th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check =! check;"> </th>
			<th><a class="sort" ng-click="predicate = '_data.title'; reverse=!reverse" href="">Title</a></th>
			<th><a class="sort" ng-click="predicate = '_data.storeName'; reverse=!reverse" href="">Store</a></th>
			<th><a class="sort" ng-click="predicate = '_data.path'; reverse=!reverse" href="">Image</a></th>
			<th><a class="sort" ng-click="predicate = '_data.status'; reverse=!reverse" href="">Status</a></th>
			<th><a class="sort" ng-click="predicate = '_data.created'; reverse=!reverse" href="">Date Created</a></th>
			<th><a class="sort" ng-click="predicate = '_data.modified'; reverse=!reverse" href="">Date Modified</a></th>
		</thead>
		<tbody>
			<tr ng-repeat="gallery in galleries | filter:filterByTitle | orderBy:predicate:reverse">
				<td> 
					<input class="chk" type="checkbox" value={{gallery._data.uuid}} ng-click="check1()" name="chk"> 
				</td>
				<td>
					<a href="#myModalUpdate" class="comment" data-toggle="modal" ng-click="galleryDetail(gallery._data)"> {{gallery._data.title}}</a>
				</td>
				<td> {{gallery._data.storeName}} </td>
				<td> 
					<img src="{{gallery._data.path}}" width="30px" height="30px">
				</td>
				<td> {{gallery._data.status | statusConverter }} </td>
				<td> {{gallery._data.created | date:'MM/dd/yyyy - h:mma'}} </td>
				<td> {{gallery._data.modified | date:'MM/dd/yyyy - h:mma'}} </td>
			</tr>
			
		</tbody>
	</table>
	<div id="messNotFound" style="display:none;text-align: center;">
		No record found.
	</div>
	
	<div class="div-footer">
		<img class="img" src="img/btn-delete.png" ng-click="deleteGallery()"/>
		<a href="#myModalAdd" role="button" class="btn-addnew" data-toggle="modal" ng-click="open()" ></a>
		<ul class="pager" style="float:right;">
			<img class="img" src="img/prev-1.png" ng-click="prevPage()" id="prevPage"/>
        	<img class="img" src="img/next-2.png" ng-click="nextPage()" id="nextPage"/>
		</ul>
	</div>
	<!-- // modal add new  -->
	<div id="myModalAdd" class="modal hide fade myMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div id="workingAdd" class="working" style="display:none;">
			<span class="v1alert-message warning inline">Loading...</span>
		</div>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Add new Gallery</h3>
		</div>
		<div class="modal-body">
			<div id="alertMsg1"></div>
			<form name="formAdd" novalidate>
				<div class="update">
					<label>Title:</label>
					<input name="title" type="text" ng-model="gallery.title" autofocus required>
					<span ng-show="formAdd.title.$dirty && formAdd.title.$invalid">
						<span class="custom-error" ng-show="formAdd.title.$error.required"> Title is a mandatory field.</span>
					</span>
				</div>
				<div class="update">
					<label>Image:</label>
					<div style="float:left;">
						<input id="inputImage" ng-model="gallery.path" type="file" accept="image/*" image="image" />
						<div class="div-clear"></div>
						<!-- <button  type="submit" ng-click="upload(image)">Upload</button> -->
					</div>

					<img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}" width= "60px" height= "90px"/> 
					
				</div>
				<div class="update">
					<label>Store:</label> 
					<select ng-options="c.title for c in storeList" ng-model="selected" ng-change="changed()">
						<option value="" >--Select--</option>
					</select>
				</div>
				<div class="update">
					<label>Status:</label>
					<div class="check-status">
						<label class="radio">
							<input class="chk" ng-model="gallery.status" type="radio" value="draft" checked id="openDarft">
							Draft 
						</label>
						<label class="radio">
							<input class="chk" ng-model="gallery.status" type="radio" value="published">
							Published
						</label>
					</div>
				</div>
				<div class="update">
					<label>Description:</label> 
					<textarea type="text" ng-model="gallery.description" rows="3" cols="50"></textarea>
				</div>
				
				<div class="modal-footer">
					<img class="img" data-dismiss="modal" src="img/btn-cancel.png"/>
					<button  class="btn-addsave" data-toggle="modal" ng-click="createGallery(image)" ng-disabled="(formAdd.title.$pristine || formAdd.title.$dirty && formAdd.title.$invalid)"></button>
				</div>
			</form>
		</div>
	</div>
	<!-- / / modal update  -->
	<div id="myModalUpdate" class="modal hide fade myMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div id="working" class="working" style="display:none;">
			<span class="v1alert-message warning inline">Loading...</span>
		</div>
		<form name="formUpdate" novalidate>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Gallery Details</h3>
			</div>
			<div class="modal-body">
				<div id="alertMsg1"></div>
				
				<div class="update">
					<label>Title:</label> 
					<input name="title" type="text" ng-model="gallery.title" required autofocus ng-change="changeForm(gallery)" id="title_update">
					<span ng-show="formUpdate.title.$dirty && formUpdate.title.$invalid">
						<span class="custom-error" ng-show="formUpdate.title.$error.required">Title is a mandatory field.</span>
					</span>
				</div>
				<div class="update">
					
					<label>Image:</label>
					<div style="float:left;">
						<input id="inputUpdate" ng-model="gallery.path" type="file" accept="image/*" image="image"/>
						<div class="div-clear"></div>
						<!-- <button  type="submit" ng-click="upload(image)">Upload</button> -->
					</div>

					<img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}" width= "60px" height= "90px"/> 
				</div>
				<div class="update">
					<label>Store:</label> 
					<select required name="select" ng-model="selected" ng-options="cate.title for cate in stores"  ng-change="changeForm(gallery)">
						<option value="">--Select--</option>
					</select>
				</div>
				<div class="update">
					<label>Status: </label>
					<label class="radio">
						<input class="chk" ng-model="gallery.status" type="radio" value="draft"  ng-change="changeForm(gallery)" checked id="optionDraft">
						Draft 
					</label>
					<label class="radio">
						<input class="chk" ng-model="gallery.status" type="radio" value="published"  ng-change="changeForm(gallery)" id="optionPublish">
						Published
					</label>
				</div>
				<div class="update">
					<label>Date created:</label> 
					<span class="span-display">{{ gallery.created | date:'MM/dd/yyyy - h:mma'}} </span>
				</div>
				<div class="update">
					<label>Date modified:</label> 
					<span class="span-display">{{ gallery.modified | date:'MM/dd/yyyy - h:mma'}}</span>
				</div>
				<div class="update">
					<label>Description:</label> 
					<textarea id="description" style="margin-left:0;" type="text" ng-model="gallery.description" rows="3" cols="450"  ng-change="changeForm(gallery)"></textarea>
				</div>
				
				<div class="modal-footer">
					<img class="img" data-dismiss="modal" src="img/btn-cancel.png"/>
					<button  id="btn_update_gallery" class="btn-addsave" data-toggle="modal" ng-click="update(gallery.uuid, image)" disabled ng-disabled="(formUpdate.title.$pristine || formUpdate.title.$dirty && formUpdate.title.$invalid)"></button>
				</div>
				
			</div>
		</form>
	</div>
	
</div>
<script type="text/javascript">
function imgError(image){
	$(image).show();
}
</script>
<script>
$(function() {
	  //	$("#validateSearch").validationEngine();
	  $( "#from_created" ).datepicker({
	  	defaultDate: "+1w",
	  	dateFormat: "mm/dd/yy",
	  	changeMonth: true,
	  	numberOfMonths: 1,
	  	onClose: function( selectedDate ) {
	  		$("#to_created").datepicker("option","minDate",selectedDate);
	  	}
	  });
	  $( "#from_modified" ).datepicker({
	  	defaultDate: "+1w",
	  	dateFormat: "mm/dd/yy",
	  	changeMonth: true,
	  	numberOfMonths: 1,
	  	onClose: function( selectedDate ) {
	  		$("#to_modified").datepicker("option","minDate",selectedDate);
	  	}
	  });
	  $( "#to_created" ).datepicker({
	  	defaultDate: "+1w",
	  	dateFormat: "mm/dd/yy",
	  	changeMonth: true,
	  	numberOfMonths: 1,
	  	onClose: function( selectedDate ) {
	       // $("#from").datepicker("option","maxDate",selectedDate);
	   }
	});
	  $( "#to_modified" ).datepicker({
	  	defaultDate: "+1w",
	  	dateFormat: "mm/dd/yy",
	  	changeMonth: true,
	  	numberOfMonths: 1,
	  	onClose: function( selectedDate ) {
	       // $("#from").datepicker("option","maxDate",selectedDate);
	   }
	});
	  $(".from_created").click(function(){
        $("#from_created").datepicker('show');
      });
      $(".to_created").click(function(){
        $("#to_created").datepicker('show');
      });
      $(".from_modified").click(function(){
        $("#from_modified").datepicker('show');
      });
      $(".to_modified").click(function(){
        $("#to_modified").datepicker('show');
      });

      $("#inputUpdate").click(function(){
        $('#btn_update_gallery').removeAttr("disabled", "disabled");
      });

	});
</script>