<html lang="en">
<head>
	<title>Group detail</title>
</head>
<body>
	<div class="admin-content">
		<div ng-include src="'partials/admin/menu-admin.html'" ng-controller="AdminController"></div>
		<div class="container" style="padding: 10px 0 10px 0px;min-height: 500px;background-color: #fff;">
		<div class="border_content2" ng-init="initDetails()">
			<div id="working" class="working" style="display:none;">
				<span class="v1alert-message warning inline">Loading...</span>
			</div>
			<!-- ALERT -->
			<div id="alertMsg" style="display:none;"></div>
			<!-- TAB -->
			<ul id="myTab" class="nav nav-tabs">
				<li><a href="#details" data-toggle="tab" id="detailstab" ng-click="showDetails()">Details</a></li>
				<li><a href="#members" data-toggle="tab" id="memberstab" ng-click="showMembers()">Members</a></li>
				<li><a href="#roles" data-toggle="tab" id="rolestab" ng-click="showRoles()">Roles</a></li>
			</ul>
			<div class="tab-content">
				<!-- DETAIL TAB -->
				<div class="tab-pane fade in" id="details">
					<form name="myForm" novalidate ng-submit="update(group.uuid)">
						<label>Group Path: </label>
						<input type="text" name="path" ng-model="group.path" required ng-pattern="pathRegex" autofocus/>
						<span ng-show="myForm.path.$dirty && myForm.path.$invalid">
							<span class="custom-error" ng-show="myForm.path.$error.required">Path {{REQUIRED}}</span>
							<span class="custom-error" ng-show="myForm.path.$error.pattern">Path {{PATTERN}}</span>
						</span>
						<label>Title: </label>
						<input type="text" name="title" ng-model="group.title" required ng-pattern="titleRegex"/>
						<span ng-show="myForm.title.$dirty && myForm.title.$invalid">
							<span class="custom-error" ng-show="myForm.title.$error.required">Title {{REQUIRED}}</span>
							<span class="custom-error" ng-show="myForm.title.$error.pattern">Title {{PATTERN}}</span>
						</span>
						<div class="modal-footer">
<!-- 							<button class="btn btn-warning cancel" ng-click="cancel()">Cancel</button>
							<button class="btn btn-primary" ng-click="update(group.uuid)" ng-disabled="myForm.title.$invalid || myForm.path.$invalid ||(myForm.title.$pristine&&myForm.path.$pristine)">Save</button> -->
							<img class="img" data-dismiss="modal" src="img/btn-cancel.png" ng-click="cancel()" style="cursor:pointer"/>
							<button class="btn-addsave" data-toggle="modal" ng-click="update(group.uuid)" ng-disabled="myForm.title.$invalid || myForm.path.$invalid ||(myForm.title.$pristine&&myForm.path.$pristine)"></button>
						</div>
					</form>
				</div><!-- END DETAILS TAB -->

				<!-- USER TAB -->
				<div class="tab-pane fade in" id="members">
					<div class="select_wrapper">
						<div class="select_left">
							<span class="select_title">List user add to group:</span>
							<select name="user_add_group" multiple class="multi_select" style="height:200px">
								<option ng-repeat="user_add in users_add_group" value="{{user_add}}">{{user_add}}</option>
							</select>
						</div>
						<div class="select_center">
							<button class="btn-tool btn btn-small" ng-click="Add('user_add_group',true)"><b>&gt;</b></button><br/>
							<button class="btn-tool btn btn-small" ng-click="SelectAll('user_add_group',true)"><b>&gt;&gt;</b></button><br/>

							<button class="btn-margin btn-tool btn btn-small" ng-click="Remove('group_has_user',true)"><b>&lt;</b></button><br/>					
							<button class="btn-tool btn btn-small" ng-click="DeselectAll('group_has_user',true)"><b>&lt;&lt;</b></button><br/>
							<button class="btn-margin btn-tool btn btn-small" ng-click="initMembers()">Reset</button>
						</div>
						<div class="select_right">
							<span class="select_title">List user in group:</span>
							<select name="group_has_user" multiple class="multi_select" style="height:200px">
								<option ng-repeat="user in users_in_group" value="{{user}}">{{user}}</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<img class="img" data-dismiss="modal" src="img/btn-cancel.png" ng-click="cancel()" style="cursor:pointer"/>
						<button class="btn-addsave" data-toggle="modal" ng-click="updateUser()"></button>
					</div>
				</div> <!-- END USER TAB -->

				<!-- ROLES TAB -->
				<div class="tab-pane fade in" id="roles">
					<div class="select_wrapper">
						<div class="select_left">
							<span class="select_title">List role add to group:</span>
							<select name="role_add_group" multiple class="multi_select" style="height:200px">
								<option ng-repeat="role_add in role_add_group" value="{{role_add}}">{{role_add}}</option>
							</select>
						</div>
						<div class="select_center">
							<button class="btn-tool btn btn-small" ng-click="Add('role_add_group',false)"><b>&gt;</b></button><br/>
							<button class="btn-tool btn btn-small" ng-click="SelectAll('role_add_group',false)"><b>&gt;&gt;</b></button><br/>

							<button class="btn-margin btn-tool btn btn-small" ng-click="Remove('role_of_group',false)"><b>&lt;</b></button><br/>					
							<button class="btn-tool btn btn-small" ng-click="DeselectAll('role_of_group',false)"><b>&lt;&lt;</b></button><br/>

							<button class="btn-margin btn-tool btn btn-small" ng-click="initRoles()">Reset</button>
						</div>
						<div class="select_right">
							<span class="select_title">List role of this group:</span>
							<select name="role_of_group" multiple class="multi_select" style="height:200px">
								<option ng-repeat="role in role_of_group" value="{{role}}">{{role}}</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<img class="img" data-dismiss="modal" src="img/btn-cancel.png" ng-click="cancel()" style="cursor:pointer"/>
						<!-- <button class="btn btn-primary" ng-click="updateRole()">Save</button> -->
						<button class="btn-addsave" data-toggle="modal" ng-click="updateRole()"></button>
					</div>
				</div> <!-- END ROLES TAB -->

			</div> <!-- END TAB -->
		</div>
	</div> <!-- end container -->
	</div>
</body>
</html>