
<div ng-controller="GroupController" class="border_content" ng-init="init(options)">
	<div id="working" class="working" style="display:none;">
        <span class="v1alert-message warning inline">Loading...</span>
    </div>
    <div id="alertMsg"></div>
    <!-- Search -->
    <div style="margin: 0 0 5px;">
        <div class="input-prepend">
            <form id="validateSearch" name="formSearch" ng-submit="searchData('groups');">
                <label class="lbl-filter-by">Search by:</label><br>
                <div class="select-attr">
                    <label class="lbl-filter-left">Path</label>
                    <input class="input-filter" name="paths" id="inputIcon" type="text" ng-model="paths" placeholder="Path"> 
                    <input title="Search" ng-disabled="formSearch.$invalid" class="img" type="image" src="img/btn-search.png"/>
                    <img class="img" src="img/btn-clear.png" ng-click="resetSearch()" title="Clear"/>
                    <img class="img" src="img/btn-refresh.png" ng-click="init(options);resetSearch()" title="Refresh"/>       
                </div>
                <div class="div-clear"></div>
                <div class="select-attr">
                    <label class="lbl-filter-left">Title</label>
                    <input class="input-filter" name="titles" id="inputIcon" type="text" ng-model="titles" placeholder="Title"> 
                </div>
                <!-- date create -->
                <div class="div-clear"></div>
                <label class="lbl-filter-left">Date created</label>
                <!-- option -->
                <div class="select-type-date">
                    <select id="date-selection" name="select" class="select-filter" ng-model="option_1" >
                        <option value="">--Select--</option>
                        <option value="=">=</option>
                        <option value=">=">>=</option>
                        <option value="<="><=</option>
                        <option value="between">between</option>
                    </select>
                </div>
                <!-- datepicker 1 -->
                <div  class="div-datepick">
                    <div class="datepicker1" ng-show="option_1 != ''">
                        <div class="controls">
                            <div class="input-append">
                                <input ng-pattern="date" readonly novalidate name="from_created" class="datepick" type="text" id="from_created" ng-model="from_created"/>
                                <span class="add-on from_created"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.from_created.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- datepicker 2 -->
                    <div class="datepicker2" ng-show="option_1 == 'between'"> 
                        <div class="controls">
                            <div class="input-append">
                                <input  ng-pattern="date" readonly name="to_created" class="datepick" type="text" id="to_created" ng-model="to_created" />
                                <span class="add-on to_created" style="margin-right: 7px;"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.to_created.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- date modified -->
                <div class="div-clear"></div>
                <label class="lbl-filter-left">Date modified</label>
                <div class="select-type-date">
                    <select id="date-selection" name="select" class="select-filter" ng-model="option_2" >
                        <option value="">--Select--</option>
                        <option value="=">=</option>
                        <option value=">=">>=</option>
                        <option value="<="><=</option>
                        <option value="between">between</option>
                    </select>
                </div>

                <div  class="div-datepick">
                    <div class="datepicker1" ng-show="option_2 != ''">
                        <div class="controls">
                            <div class="input-append">
                                <input ng-pattern="date" readonly novalidate name="from_modified" class="datepick" type="text" id="from_modified" ng-model="from_modified"/>
                                <span class="add-on from_modified"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.from_modified.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="datepicker2" ng-show="option_2 == 'between'"> 
                        <div class="controls">
                            <div class="input-append">
                                <input  ng-pattern="date" readonly name="to_modified" class="datepick" type="text" id="to_modified" ng-model="to_modified" />
                                <span class="add-on to_modified" style="margin-right: 7px;"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div ng-show="formSearch.to_modified.$error.pattern">
                            <span class="search-error">mm/dd/yyyy</span>
                            <div class="formErrorArrow">
                                <div class="line10"></div>
                                <div class="line9"></div>
                                <div class="line8"></div>
                                <div class="line7"></div>
                                <div class="line6"></div>
                                <div class="line5"></div>
                                <div class="line4"></div>
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div> 
    </div>
    <!-- End Search -->
    <!-- <div style="float: right; margin: 5px">
      <button class="btn btn-primary" ng-click="open()">New</button>
      <button class="btn btn-danger" 	ng-click="deleteGroup()">Delete</button>
  </div> -->
  <div id="workingSearch" class="working">
   <span class="v1alert-message warning inline">Loading...</span>
</div>
<table class="table">
  <thead>
     <th><input type="checkbox" class="checkAll" ng-model="check" ng-change="checkAll()"></th>
     <th><a class="sort" href="" ng-click="predicate = '_data.path'; reverse=!reverse">Path</a></th>
     <th><a class="sort" href="" ng-click="predicate = '_data.title'; reverse=!reverse">Title</a></th>
     <th><a class="sort" href="" ng-click="predicate = '_data.created'; reverse=!reverse">Date Created</a></th>
     <th><a class="sort" href="" ng-click="predicate = '_data.modified'; reverse=!reverse">Date Modified</a></th>
 </thead>
 <!-- <tr ng-repeat="group in groups | filter:filterByPath | orderBy:predicate:reverse| startFrom:currentPage*pageSize | limitTo:pageSize"> -->
 <tr ng-repeat="group in groups | filter:filterByPath | orderBy:predicate:reverse">
     <td>
        <input ng-click="checkItem()" class="chk" type="checkbox" value="{{group._data.uuid}}">
    </td>
    <td><a href="" ng-click="navDetail(group._data.uuid)"> {{group._data.path}} </a></td>
    <td> {{group._data.title}} </td>
    <td> {{group._data.created | date:'MM/dd/yyyy - h:mma' }} </td>
    <td> {{group._data.modified | date:'MM/dd/yyyy - h:mma' }} </td>
</tr>
</table>
<div id="messNotFound" style="display:none;text-align: center;">
  No record found.
</div>
<!-- <div class="modal-footer">
  <ul class="pager">
      <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
      <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li>
  </ul>
</div> -->
<div class="div-footer">
    <img class="img" src="img/btn-delete.png" ng-click="deleteGroup()"/>
    <img class="img" src="img/btn-new.png" ng-click="open()" /> 
    <ul class="pager" style="float:right;">
        <!-- <li><a href="" ng-click="prevPage()" id="prevPage">Previous</a></li>
        <li><a href="" ng-click="nextPage()" id="nextPage">Next</a></li> -->
        <img class="img" src="img/prev-1.png" ng-click="prevPage()" id="prevPage"/>
        <img class="img" src="img/next-2.png" ng-click="nextPage()" id="nextPage"/>
      </ul>       
</div>
<!-- Create group pop-up -->
<div modal="shouldBeOpen" close="" options="opts">
  <form name="myForm" novalidate>
   <div class="modal-header">
      <button type="button" class="close" ng-click="shouldBeOpen=false" aria-hidden="true">×</button>
      <h3>Create new group</h3>
  </div>
  <div class="modal-body">
    <label>Group Path:</label>
    <input type="text" name="path" ng-model="path" required ng-pattern="pathRegex"autofocus/>
    <span ng-show="myForm.path.$dirty && myForm.path.$invalid">
       <span class="custom-error" ng-show="myForm.path.$error.required">Path {{REQUIRED}}</span>
       <span class="custom-error" ng-show="myForm.path.$error.pattern">Path {{PATTERN}}</span>
   </span>
   <label>Title:</label>
   <input type="text" name="title" ng-model="title" required ng-pattern="titleRegex"/>
   <span ng-show="myForm.title.$dirty && myForm.title.$invalid">
       <span class="custom-error" ng-show="myForm.title.$error.required">Title {{REQUIRED}}</span>
       <span class="custom-error" ng-show="myForm.title.$error.pattern">Title {{PATTERN}}</span>
   </span>
</div>
<div class="modal-footer">
<!--   <button class="btn btn-warning cancel" ng-click="shouldBeOpen=false">Cancel</button> -->
  <!-- <button class="btn btn-primary" ng-click="createGroup()" ng-disabled="(myForm.title.$pristine || myForm.title.$dirty && myForm.title.$invalid)||(myForm.path.$pristine || myForm.path.$dirty && myForm.path.$invalid)">Save</button> -->


  <img class="img" data-dismiss="modal" src="img/btn-cancel.png" style="cursor:pointer" ng-click="shouldBeOpen=false"/>
  <button class="btn-addsave" data-toggle="modal" ng-click="createGroup()" ng-disabled="(myForm.title.$pristine || myForm.title.$dirty && myForm.title.$invalid)||(myForm.path.$pristine || myForm.path.$dirty && myForm.path.$invalid)"></button>


</div>
</form>
</div>
<!-- END Create group pop-up -->
</div>
<script type="text/javascript">
function imgError(image){
   $(image).show();
}
</script>
<script>
$(function() {
      //    $("#validateSearch").validationEngine();
      $( "#from_created" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
            $("#to_created").datepicker("option","minDate",selectedDate);
        }
    });
      $( "#from_modified" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
            $("#to_modified").datepicker("option","minDate",selectedDate);
        }
    });
      $( "#to_created" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
           // $("#from").datepicker("option","maxDate",selectedDate);
       }
   });
      $( "#to_modified" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
           // $("#from").datepicker("option","maxDate",selectedDate);
       }
   });
      $(".from_created").click(function(){
        $("#from_created").datepicker('show');
    });
      $(".to_created").click(function(){
        $("#to_created").datepicker('show');
    });
      $(".from_modified").click(function(){
        $("#from_modified").datepicker('show');
    });
      $(".to_modified").click(function(){
        $("#to_modified").datepicker('show');
    });
  });
</script>