
<div ng-controller="PageController" class="border_content" ng-init="init(options)">
	<div id="alertMsg"></div>
    <div class="div-search">
       <div class="input-prepend">
        <form id="validateSearch" name="formSearch" ng-submit="searchData('pages');">
            <label class="lbl-filter-by">Search by:</label><br>
            <div class="select-attr">
                <label class="lbl-filter-left">Title</label>
                <input class="input-filter" name="titles" id="inputIcon" type="text" ng-model="titles" placeholder="Title"> 
                <input title="Search" ng-disabled="formSearch.$invalid" class="img" type="image" src="img/btn-search.png"/>
                <img class="img" src="img/btn-clear.png" ng-click="resetSearch()" title="Clear"/>
                <img class="img" src="img/btn-refresh.png" ng-click="init(options);resetSearch()" title="Refresh"/>     
            </div>
            <div class="div-clear"></div>
            <div class="select-type-date">
                <label class="lbl-filter-left">Status</label>
                <select id="status_selected" name="select" class="select-filter" ng-model="status_selected">
                    <option value="">--Select--</option>
                    <option value="0">Draft</option>
                    <option value="1">Published</option>
                </select>
            </div>
            <!-- date create -->
            <div class="div-clear"></div>
            <label class="lbl-filter-left">Date created</label>
            <!-- option -->
            <div class="select-type-date">
                <select id="date-selection" name="select" class="select-filter" ng-model="option_1" >
                    <option value="">--Select--</option>
                    <option value="=">=</option>
                    <option value=">=">>=</option>
                    <option value="<="><=</option>
                    <option value="between">between</option>
                </select>
            </div>
            <!-- datepicker 1 -->
            <div  class="div-datepick">
                <div class="datepicker1" ng-show="option_1 != ''">
                    <div class="controls">
                        <div class="input-append">
                            <input ng-pattern="date" novalidate name="from_created" class="datepick" type="text" id="from_created" ng-model="from_created" readonly/>
                            <span class="add-on"><i class="icon-calendar from_created"></i></span>
                        </div>
                    </div>
                    <div ng-show="formSearch.from_created.$error.pattern">
                        <span class="search-error">mm/dd/yyyy</span>
                        <div class="formErrorArrow">
                            <div class="line10"></div>
                            <div class="line9"></div>
                            <div class="line8"></div>
                            <div class="line7"></div>
                            <div class="line6"></div>
                            <div class="line5"></div>
                            <div class="line4"></div>
                            <div class="line3"></div>
                        </div>
                    </div>
                </div>
                <!-- datepicker 2 -->
                <div class="datepicker2" ng-show="option_1 == 'between'"> 
                    <div class="controls">
                        <div class="input-append">
                            <input  ng-pattern="date" name="to_created" class="datepick" type="text" id="to_created" ng-model="to_created" readonly/>
                            <span class="add-on"><i class="icon-calendar to_created"></i></span>
                        </div>
                    </div>
                    <div ng-show="formSearch.to_created.$error.pattern">
                        <span class="search-error">mm/dd/yyyy</span>
                        <div class="formErrorArrow">
                            <div class="line10"></div>
                            <div class="line9"></div>
                            <div class="line8"></div>
                            <div class="line7"></div>
                            <div class="line6"></div>
                            <div class="line5"></div>
                            <div class="line4"></div>
                            <div class="line3"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- date modified -->
            <div class="div-clear"></div>
            <label class="lbl-filter-left">Date modified</label>
            <div class="select-type-date">
                <select id="date-selection" name="select" class="select-filter" ng-model="option_2" >
                    <option value="">--Select--</option>
                    <option value="=">=</option>
                    <option value=">=">>=</option>
                    <option value="<="><=</option>
                    <option value="between">between</option>
                </select>
            </div>

            <div  class="div-datepick">
                <div class="datepicker1"  ng-show="option_2 != ''">
                    <div class="controls">
                        <div class="input-append">
                            <input ng-pattern="date" novalidate name="from_modified" class="datepick" type="text" id="from_modified" ng-model="from_modified" readonly/>
                            <span class="add-on"><i class="icon-calendar from_modified"></i></span>
                        </div>
                    </div>
                    <div ng-show="formSearch.from_modified.$error.pattern">
                        <span class="search-error">mm/dd/yyyy</span>
                        <div class="formErrorArrow">
                            <div class="line10"></div>
                            <div class="line9"></div>
                            <div class="line8"></div>
                            <div class="line7"></div>
                            <div class="line6"></div>
                            <div class="line5"></div>
                            <div class="line4"></div>
                            <div class="line3"></div>
                        </div>
                    </div>
                </div>
                <div class="datepicker2" ng-show="option_2 == 'between'"> 
                    <div class="controls">
                        <div class="input-append">
                            <input  ng-pattern="date" name="to_modified" class="datepick" type="text" id="to_modified" ng-model="to_modified" readonly/>
                            <span class="add-on"><i class="icon-calendar to_modified"></i></span>
                        </div>
                    </div>
                    <div ng-show="formSearch.to_modified.$error.pattern">
                        <span class="search-error">mm/dd/yyyy</span>
                        <div class="formErrorArrow">
                            <div class="line10"></div>
                            <div class="line9"></div>
                            <div class="line8"></div>
                            <div class="line7"></div>
                            <div class="line6"></div>
                            <div class="line5"></div>
                            <div class="line4"></div>
                            <div class="line3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div> 
</div>

<div id="workingSearch" class="working">
    <span class="v1alert-message warning inline">Loading...</span>
</div>
<table class="table table-striped" id="table" style="display:none;">
  <thead>
     <th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check =! check;"> </th>
     <th><a class="sort" ng-click="predicate = '_data.title'; reverse=!reverse" href="">Title</a></th>
     <th><a class="sort" ng-click="predicate = '_data.status'; reverse=!reverse" href="">Status</a></th>
     <th><a class="sort" ng-click="predicate = '_data.created'; reverse=!reverse" href="">Date Created</a></th>
     <th><a class="sort" ng-click="predicate = '_data.modified'; reverse=!reverse" href="">Date Modified</a></th>
 </thead>
 <tbody>
     <tr ng-repeat="page in pages | filter:filterByTitle | orderBy:predicate:reverse">
        <td> <input ng-click="check1()" class="chk" name="chk" type="checkbox" value={{page._data.uuid}}> </td>
        <td><a href="" id="edit-modal" data-toggle="modal" ng-click="pageDetail(page._data)" onclick="editModal('')"> {{page._data.title}}</a></td>
        <td> {{page._data.status | boolConverter}} </td>
        <td> {{page._data.created | date:'MM/dd/yyyy - h:mma' }} </td>
        <td> {{page._data.modified | date:'MM/dd/yyyy - h:mma' }} </td>
    </tr>
</tbody>
</table>
<div id="messNotFound" style="display:none;text-align: center;">
    No record found.
</div>

<div class="div-footer">
    <img class="img" src="img/btn-delete.png" ng-click="deletePage()"/>
    <a href="" onclick="addModal('')" class="btn-addnew" data-toggle="modal" ng-click="open()" id="show-modal"></a>
    <ul class="pager" style="float:right;">
      <img class="img" src="img/prev-1.png" ng-click="prevPage()" id="prevPage"/>
        <img class="img" src="img/next-2.png" ng-click="nextPage()" id="nextPage"/>
  </ul>
</div>


<!-- Modal add page -->    
<div id="addBlog" class="modal myMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div id="working" class="working" style="display:none;">
     <span class="v1alert-message warning inline">Loading...</span>
 </div>
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeAddModal()">×</button>
  <h3 id="myModalLabel">Add new Page</h3>
</div>
<div class="modal-body">
   <div id="alertMsg1"></div>
   <form name="formAdd" novalidate>
    <div class="update">
       <label> Title: </label>
       <input name="title" type="text" ng-model="page.title" required autofocus>
       <span ng-show="formAdd.title.$dirty && formAdd.title.$invalid">
         <span class="custom-error" ng-show="formAdd.title.$error.required">Title is a mandatory field.</span>
     </span>
 </div>
 <div  class="update">
   <label>Status: </label>
   <div>
      <label class="radio">
         <input class="chk" ng-model="page.status" type="radio" value="0">
         Draft 
     </label>
     <label class="radio">
         <input class="chk" ng-model="page.status" type="radio" value="1">
         Published
     </label>
 </div>
</div >
<div class="update">
   <label style="clear:left;">Content: </label>
   <div id="new-textarea">
      <textarea id="redactor1" class="redactor" name="content" ng-model="page.description"></textarea>
  </div>
</div>

<div class="modal-footer">
  <!--  <button class="btn btn-warning" data-dismiss="modal" onclick="closeAddModal()" aria-hidden="true">Cancel</button>
  <button class="btn btn-primary" ng-click="createPage(page)" ng-disabled="(formAdd.title.$pristine || formAdd.title.$dirty && formAdd.title.$invalid)">Save</button> -->
  <img class="img" data-dismiss="modal" src="img/btn-cancel.png" onclick="closeAddModal()"/>
  <button class="btn-addsave" data-toggle="modal" ng-click="createPage(page)" ng-disabled="(formAdd.title.$pristine || formAdd.title.$dirty && formAdd.title.$invalid)">
  </button>
</div>
</form>
</div>
</div>
<!-- Modal update page -->
<div id="editBlog" class="modal myMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div id="working1" class="working" style="display:none;">
     <span class="v1alert-message warning inline">Loading...</span>
 </div>
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="closeEditModal()">×</button>
  <h3 id="myModalLabel">Page Details</h3>
</div>
<div class="modal-body">
   <div id="alertMsg1"></div>
   <form name="formUpdate" novalidate>	
       <input type="hidden" name="uuid" ng-model="page.uuid">			
       <div class="update">
           <label> Title: </label>
           <input name="title" type="text" ng-model="page.title" required ng-change="changeForm(page)">
           <span ng-show="formUpdate.title.$dirty && formUpdate.title.$invalid">
             <span class="custom-error" ng-show="formUpdate.title.$error.required">Title is a mandatory field.</span>
         </span>
     </div>
     <div  class="update">
       <label>Status: </label>
       <div>
          <label class="radio">
             <input class="chk" ng-model="page.status" type="radio" value="0" ng-change="changeForm(page)">
             Draft 
         </label>
         <label class="radio">
             <input class="chk" ng-model="page.status" type="radio" value="1" ng-change="changeForm(page)">
             Published
         </label>
     </div>
 </div>
 <div class="update">
   <label style="clear:left;">Content: </label>
   <div id="edit_textarea">
      <textarea id="redactor2" class="redactor" name="content" ng-model="page.description"></textarea>
  </div>
</div>
<div class="update">
   <label> Date created: </label>
   <span class="span-display">{{ page.created | date:'MM/dd/yyyy - h:mma' }}</span>
</div>
<div class="update">
   <label> Date modified: </label>
   <span class="span-display">{{ page.modified | date:'MM/dd/yyyy - h:mma' }}</span>
</div>
<div class="div-clear"></div>
<div class="modal-footer">

    <img class="img" data-dismiss="modal" src="img/btn-cancel.png" onclick="closeEditModal()"/>
    <button id="btn_update_page" class="btn-addsave" data-toggle="modal" ng-click="updatePage(page)" disabled ng-disabled="(formUpdate.title.$pristine || formUpdate.title.$dirty && formUpdate.title.$invalid)">
    </button>
</div>
</form>

</div>
</div>
</div>
<script type="text/javascript">
var addModal = function(data){
    console.log("add model");
    $('#redactor1').redactor({
        minHeight: 200,
        maxWidth:500
    });
    $("#addBlog").css({"top":"-50%"}).show().animate({"top":"50%"}, 300);
    $(".redactor_editor").html(data);
    $("body").append('<div class="modal-backdrop fade in"></div>');
    return false;
}

var editModal = function(data){
   console.log("fedit model");
   $('#redactor2').redactor({
      minHeight: 200
  });
   $("#editBlog").css({"top":"-50%"}).show().animate({"top":"50%"}, 300);
   $(".redactor_editor").html(data);
   $("body").append('<div class="modal-backdrop fade in"></div>');
   $('#btn_update_page').attr("disabled", "disabled");
   return false;
}

var closeEditModal = function(){
    $("#editBlog").hide();
    $('.modal-backdrop').remove();
}
var closeAddModal = function(){
    $("#addBlog").hide();
    $('.modal-backdrop').remove();
}

$(document).on("keyup", "#edit_textarea .redactor_editor", function(){
   $("#redactor2").trigger("change");
});

</script>
<script type="text/javascript">
function imgError(image){
    $(image).show();
}
</script>
<script>
$(function() {
      //    $("#validateSearch").validationEngine();
      $( "#from_created" ).datepicker({
          defaultDate: "+1w",
          dateFormat: "mm/dd/yy",
          changeMonth: true,
          numberOfMonths: 1,
          onClose: function( selectedDate ) {
            $("#to_created").datepicker("option","minDate",selectedDate);
        }
    });
      $( "#from_modified" ).datepicker({
          defaultDate: "+1w",
          dateFormat: "mm/dd/yy",
          changeMonth: true,
          numberOfMonths: 1,
          onClose: function( selectedDate ) {
            $("#to_modified").datepicker("option","minDate",selectedDate);
        }
    });
      $( "#to_created" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
           // $("#from").datepicker("option","maxDate",selectedDate);
       }
   });
      $( "#to_modified" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
           // $("#from").datepicker("option","maxDate",selectedDate);
       }
   });

      $(".from_created").click(function(){
        $("#from_created").datepicker('show');
    });
      $(".to_created").click(function(){
        $("#to_created").datepicker('show');
    });
      $(".from_modified").click(function(){
        $("#from_modified").datepicker('show');
    });
      $(".to_modified").click(function(){
        $("#to_modified").datepicker('show');
    });

  });
</script>