<div class="border_content" ng-controller="BlogsController" ng-init="init(options)">
	<div id="alertMsg" style="display:none;"></div>
	<div style="margin: 0 0 5px;" ng-init="select_1 = ''">
		<div class="input-prepend">
      <form id="validateSearch" name="formSearch" ng-submit="searchData('blogs');">
        <label class="lbl-filter-by">Search by:</label><br>
        <div class="select-attr">
          <label class="lbl-filter-left">Title</label>
          <input class="input-filter" name="titles" id="inputIcon" type="text" ng-model="titles" placeholder="Title"> 
          <input  ng-disabled="formSearch.$invalid" class="img" type="image" src="img/btn-search.png" title="Search" />
        <img class="img" src="img/btn-clear.png" ng-click="resetSearch()" title="Clear"/>
        <img class="img" src="img/btn-refresh.png" ng-click="init(options);resetSearch()" title="Refresh"/>      
        </div>
        <div style="clear:both;"></div>
        <div class="div-clear"></div>
        <div class="select-attr">
          <label class="lbl-filter-left">Categories</label>
          <select style="width:auto;"id="select" name="sel" ng-model="category" ng-options="category.title for category in categories">
           <option value="" selected>--Select--</option>
          </select>
         </div>
        <div class="select-type-date">
          <label class="lbl-filter-left">Status</label>
          <select id="status_selected" name="select" class="select-filter" ng-model="status_selected">
            <option value="">--Select--</option>
            <option value="0">Draft</option>
            <option value="1">Published</option>
          </select>
        </div>
        <!-- date create -->
        <div style="clear:both;"></div>
        <label class="lbl-filter-left">Date created</label>
        <!-- option -->
        <div class="select-type-date">
          <select id="date-selection" name="select" class="select-filter" ng-model="option_1" >
            <option value="">--Select--</option>
            <option value="=">=</option>
            <option value=">=">>=</option>
            <option value="<="><=</option>
            <option value="between">between</option>
          </select>
        </div>
        <!-- datepicker 1 -->
        <div  class="div-datepick">
          <div class="datepicker1" ng-show="option_1 != ''">
            <div class="controls">
              <div class="input-append">
                <input ng-pattern="date" readonly novalidate name="from_created" class="datepick" type="text" id="from_created" ng-model="from_created"/>
                <span class="add-on from_created"><i class="icon-calendar"></i></span>
              </div>
            </div>
            <div ng-show="formSearch.from_created.$error.pattern">
              <span class="search-error">mm/dd/yyyy</span>
              <div class="formErrorArrow">
                <div class="line10"></div>
                <div class="line9"></div>
                <div class="line8"></div>
                <div class="line7"></div>
                <div class="line6"></div>
                <div class="line5"></div>
                <div class="line4"></div>
                <div class="line3"></div>
              </div>
            </div>
          </div>
          <!-- datepicker 2 -->
          <div class="datepicker2" ng-show="option_1 == 'between'"> 
            <div class="controls">
              <div class="input-append">
                <input  ng-pattern="date" readonly name="to_created" class="datepick" type="text" id="to_created" ng-model="to_created" />
                <span class="add-on to_created"><i class="icon-calendar"></i></span>
              </div>
            </div>
            <div ng-show="formSearch.to_created.$error.pattern">
              <span class="search-error">mm/dd/yyyy</span>
              <div class="formErrorArrow">
                <div class="line10"></div>
                <div class="line9"></div>
                <div class="line8"></div>
                <div class="line7"></div>
                <div class="line6"></div>
                <div class="line5"></div>
                <div class="line4"></div>
                <div class="line3"></div>
              </div>
            </div>
          </div>

        </div>
        <!-- date modified -->
        <div style="clear:both;"></div>
        <label class="lbl-filter-left">Date modified</label>
        <div class="select-type-date">
          <select id="date-selection" name="select" class="select-filter" ng-model="option_2" >
            <option value="">--Select--</option>
            <option value="=">=</option>
            <option value=">=">>=</option>
            <option value="<="><=</option>
            <option value="between">between</option>
          </select>
        </div>

        <div  class="div-datepick">
          <div class="datepicker1" ng-show="option_2 != ''">
            <div class="controls">
              <div class="input-append">
                <input ng-pattern="date" readonly novalidate name="from_modified" class="datepick" type="text" id="from_modified" ng-model="from_modified"/>
                <span class="add-on from_modified"><i class="icon-calendar"></i></span>
              </div>
            </div>
            <div ng-show="formSearch.from_modified.$error.pattern">
              <span class="search-error">mm/dd/yyyy</span>
              <div class="formErrorArrow">
                <div class="line10"></div>
                <div class="line9"></div>
                <div class="line8"></div>
                <div class="line7"></div>
                <div class="line6"></div>
                <div class="line5"></div>
                <div class="line4"></div>
                <div class="line3"></div>
              </div>
            </div>
          </div>
          <div class="datepicker2" ng-show="option_2 == 'between'"> 
            <div class="controls">
              <div class="input-append">
                <input  ng-pattern="date" readonly name="to_modified" class="datepick" type="text" id="to_modified" ng-model="to_modified" />
                <span class="add-on to_modified"><i class="icon-calendar"></i></span>
              </div>
            </div>
            <div ng-show="formSearch.to_modified.$error.pattern">
              <span class="search-error">mm/dd/yyyy</span>
              <div class="formErrorArrow">
                <div class="line10"></div>
                <div class="line9"></div>
                <div class="line8"></div>
                <div class="line7"></div>
                <div class="line6"></div>
                <div class="line5"></div>
                <div class="line4"></div>
                <div class="line3"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div> 
  </div>
  
  <div id="workingSearch" class="working">
    <span class="v1alert-message warning inline">Loading...</span>
  </div>
  <table class="table table-striped"  id="table">
    <thead>
     <th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check =! check;"> </th>
     <th><a class="sort" ng-click="predicate = '_data.title'; reverse=!reverse" href="">Title</a></th>
     <th><a class="sort" ng-click="predicate = '_data.categoryName'; reverse=!reverse" href="">Category</a></th>
     <th><a class="sort" ng-click="predicate = '_data.status'; reverse=!reverse" href="">Status</a></th>
     <th><a class="sort" ng-click="predicate = '_data.author'; reverse=!reverse" href="">Author</a></th>
     <th><a class="sort" ng-click="predicate = '_data.created'; reverse=!reverse" href="">Date Created</a></th>
     <th><a class="sort" ng-click="predicate = '_data.modified'; reverse=!reverse" href="">Date Modified</a></th>
   </thead>
   <tr ng-repeat="content in contents | filter:filterByTitle | orderBy:predicate:reverse">
     <td> <input ng-click="check1()" class="chk" name="chk" type="checkbox" value="{{content._data.uuid}}" ng-checked="checkall"> </td>
     <td><a href="" id="edit-modal" ng-click="openDetail(content);">{{content._data.title}}</a></td>
     <td> {{content._data.categoryName}} </td>
     <td> {{content._data.status | boolConverter}} </td>
     <td> {{content._data.author}} </td>
     <td> {{content._data.created | date:'MM/dd/yyyy - h:mma' }} </td>
     <td> {{content._data.modified | date:'MM/dd/yyyy - h:mma' }} </td>

   </tr>
 </table>
 <div id="messNotFound" style="display:none;text-align: center;">
  No record found.
</div>

<div class="div-footer">
    <img class="img" src="img/btn-delete.png" ng-click="delete()" style="cursor:pointer"/>
    <a href="" class="btn-addnew" data-toggle="modal" ng-click="clear()" id="show-modal"></a>
    <ul class="pager" style="float:right;">
        <img class="img" src="img/prev-1.png" ng-click="prevPage()" id="prevPage"/>
        <img class="img" src="img/next-2.png" ng-click="nextPage()" id="nextPage"/>
      </ul>
</div>

<!-- modal -->
<div id="newBlog" class="modal myMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <form name="newForm" novalidate>
   <div id="working" class="working" style="display:none;">
    <span class="v1alert-message warning inline">Loading...</span>
  </div>
  <div id="alertMsg1" style="display:none;"></div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Add new Blog</h3>
  </div>
  <div class="model-body">
    <div class="content">
     <div>
      <label>Title:{{hide}} </label>
      <input name="title" type="text" ng-model="title" placeholder="Title" ng-pattern="word" required>
     <span class="custom-error" ng-show="newForm.title.$dirty && newForm.title.$error.required && newForm.title">Title {{REQUIRED}}</span>
     <span class="custom-error" ng-show="newForm.title.$error.pattern">Title {{PATTERN}}</span>

    </div>
    <div>
      <label> Categories: </label>
      <select id="select" name="sel" ng-model="cate" ng-options="cate.uuid as cate.title for cate in categories" required>
       <option value="" selected>--Select--</option>
     </select>
     <span class="custom-error" ng-show="newForm.sel.$dirty && newForm.sel.$invalid && newForm.sel">Category {{REQUIRED}}</span>
   </div>
   <div>
    <label class="status">Status: </label>
    <div>
     <p class="radio">
      <input class="chke" type="radio" name="optionsRadios"  id="optionsRadios1" value="0" checked>
      Draft
      <p class="radio">
       <input class="chke" type="radio" name="optionsRadios" ng-model="radio" id="optionsRadios2" value="1">
       Published
     </p>
   </div>
 </div>
 <div class="clearfix"></div>
 <div>
   <label>Content: </label>
   <div id="new-textarea">
    <textarea id="redactor1" class="redactor" name="content"></textarea>
  </div>
</div>
</div>
</div>
<div class="modal-footer">
  <img class="img" data-dismiss="modal" src="img/btn-cancel.png" style="cursor:pointer"/>
  <button class="btn-addsave" data-toggle="modal" ng-click="createBlogs()" ng-disabled="newForm.$pristine || (newForm.sel.$pristine || newForm.sel.$invalid || newForm.title.$pristine || newForm.title.$invalid)"></button>
</div>
</form>
</div>
<!-- Modal edit -->
<!-- <div modal="shouldBeOpenDetail" close="close()" options="opts"> -->
<div id="editBlog" class="modal myMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
 <form name="myForm" novalidate >
  <div id="working1" class="working" style="display:none;">
   <span class="v1alert-message warning inline">Loading...</span>
 </div>
 <div id="alertMsg1" style="display:none;"></div>
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Blog Details</h3>
 </div>
 <div class="model-body">
   <div class="content">
    <div>
     <label>Title: </label>
     <input ng-change="changeForm(editBlog)" name="title" type="text" ng-model="editBlog.title" placeholder="Title" ng-pattern="word" required>
     <span class="custom-error" ng-show="myForm.title.$dirty && myForm.title.$error.required">Title {{REQUIRED}}</span>
     <span class="custom-error" ng-show="myForm.title.$error.pattern">Title {{PATTERN}}</span>
   </div>
   <div>
     <label> Categories: </label>
     <select ng-change="changeForm(editBlog)" required name="select" ng-model="select" ng-options="cate.title for cate in categoriesdetail">
      <option value="" selected>--Select--</option> 
    </select>
    <span class="custom-error" ng-show="myForm.select.$dirty && myForm.select.$invalid">Category {{REQUIRED}}</span>
  </div>
  <div>
   <label class="status">Status: </label>
   <div>
    <p class="radio">
     <input ng-change="changeForm(editBlog)" class="chked chk0" type="radio" ng-model="editBlog.status" name="optionsRadios1" id="optionsRadios1" value="0" checked >
     Draft 
   </p>
   <p class="radio">
     <input ng-change="changeForm(editBlog)" class="chked chk1" type="radio" ng-model="editBlog.status" name="optionsRadios2" id="optionsRadios2" value="1">
     Published
   </p>
 </div>
</div>
<div class="clearfix"></div>
<div>
 <label style="margin-top: -8px;"> Published from: </label>
 <div>
  <span>{{editBlog.created | date:'MM/dd/yyyy - h:mma'}} </span>
</div>
</div>
<div>
 <label style="clear:left;">Content: </label>
 <div id="edit_textarea">
  <textarea id="redactor2" class="redactor" name="content"></textarea>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<img class="img" data-dismiss="modal" src="img/btn-cancel.png" style="cursor:pointer"/>
<button class="btn-addsave" id="btn-update" data-toggle="modal" ng-click="update()" ng-disabled="( myForm.title.$pristine && (myForm.select.$pristine && (myForm.optionsRadios2.$pristine && myForm.optionsRadios1.$pristine))) || (myForm.$invalid)"></button>

</div>
</form>
</div>
</div>
<script type="text/javascript">
function imgError(image){
  $(image).show();
}
</script>
<script>
$(function() {
      //    $("#validateSearch").validationEngine();
      $( "#from_created" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          $("#to_created").datepicker("option","minDate",selectedDate);
        }
      });
      $( "#from_modified" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          $("#to_modified").datepicker("option","minDate",selectedDate);
        }
      });
      $( "#to_created" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
           // $("#from").datepicker("option","maxDate",selectedDate);
         }
       });
      $( "#to_modified" ).datepicker({
        defaultDate: "+1w",
        dateFormat: "mm/dd/yy",
        changeMonth: true,
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
           // $("#from").datepicker("option","maxDate",selectedDate);
         }
       });
      $(".from_created").click(function(){
        $("#from_created").datepicker('show');
      });
      $(".to_created").click(function(){
        $("#to_created").datepicker('show');
      });
      $(".from_modified").click(function(){
        $("#from_modified").datepicker('show');
      });
      $(".to_modified").click(function(){
        $("#to_modified").datepicker('show');
      });
    });
</script>
