.row{
	.bs-docs-sidenav .icon-chevron-right {
		float: right;
		margin-top: 7px;
	}
	
	.bs-docs-sidenav {
		width: 228px;
		margin:0;
		padding: 0;
		background-color: #fff;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
		-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
		box-shadow: 0 1px 4px rgba(0,0,0,.065);
		li{
			line-height: 30px;
			display: list-item;
			text-align: -webkit-match-parent;
			a{
				display: block;
				width: 190px \9;
				margin: 0;
				padding: 4px 10px;
			}
		}
	}

	.affix {
		position: fixed;
	}

}

.row-fluid{
	min-height: 650px;
	.span3{
		.sidebar-nav{
			.nav-header{
				li , a{
					line-height: 30px;
					padding: 5px 0px 5px 5px;
				}
			}
		}
	}
}

.activeMenu{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #0088cc;
}

.active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #0088cc;
}

.modal {
	top: 50%;
	left: 25%;
	max-height: 520px;
	margin-left: auto;
	margin-right: auto;
}

.postbox {
	background-color: #f5f5f5;
	background-image: -ms-linear-gradient(top,#f9f9f9,#f5f5f5);
	background-image: -moz-linear-gradient(top,#f9f9f9,#f5f5f5);
	background-image: -o-linear-gradient(top,#f9f9f9,#f5f5f5);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#f5f5f5));
	background-image: -webkit-linear-gradient(top,#f9f9f9,#f5f5f5);
	background-image: linear-gradient(top,#f9f9f9,#f5f5f5);

	border-color: #dfdfdf;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	position: relative;
	min-width: 255px;
	margin-bottom: 20px;
	padding: 0;
	border-width: 1px;
	border-style: solid;
	line-height: 1;
	padding-bottom: 25px;

	.handlediv {
		float: right;
		width: 27px;
		height: 30px;
		cursor: pointer;
	}

	.hndle {
		cursor: move;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	h3 {
		padding-left: 4px;
		color: #464646;
		border-bottom-color: #dfdfdf;
		text-shadow: #fff 0 1px 0;
		-moz-box-shadow: 0 1px 0 #fff;
		-webkit-box-shadow: 0 1px 0 #fff;
		box-shadow: 0 1px 0 #fff;
	}

	.inside {
		clear: both;
		margin: 10px 0;
		position: relative;
		padding: 0 10px;
		line-height: 1.4em;
		.customlinkdiv{
			p{
				.howto {
					span {
						margin-top: 1px;
						display: block;
						line-height: 30px;	
						margin-right: 5px;
						width: 28%;
						float: left;
					}
					input {
						float: right;
					}
				}
				
			}
		}
		
	}

	.button-controls {
		clear: both;
		margin: 10px 0;
		padding:  2px 2px 2px 2px;
	}

	.list-controls {
		float: left;
		margin-top: 5px;
	}

	.nav-menus-php .posttypediv div.tabs-panel{
		height: auto;
		max-height: 205px;
	}
	.posttypediv div.tabs-panel{
		height: auto;
		overflow: auto;
		padding: .5em .9em;
	}

	.posttypediv ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	ul.categorychecklist li {
		margin: 0;
		padding: 0;
		line-height: 19px;
		word-wrap: break-word;
	}
	input[type="checkbox"] {
		vertical-align: text-top;
		padding: 0;
		margin: 4px 7px 0;
		float: left
	}

	.add-to-menu {
		float: right;
	}
}


.span8{
	/**
 * use for test 
 */

 #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
 #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
 #sortable li span { position: absolute; margin-left: -1.3em; }

}

.table td {
	vertical-align: middle;
}

.mainbody ul li{
	display:block;
}
.mainbody .accordion-heading{
	background-color:#f5f5f5;
}

.mainbody {
	width: 92%;
	.postbox{
		margin-left: 23px;
		.inside{
			.customlinkdiv{
				.menu-item-url-wrap{
					width: 90%;
					display: inline-block;
					.howto{
						float: left;
						margin: 4px 76px 0px 7px;
					}
				}
			}
		}
	}
}

.mainbody .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .5;
}
.mainbody .accordion {
	margin-bottom: 3px;
}
.in_menu div label, .in_menu div input{
	display:inline-block;
}
.in_menu label{
	width:75px;
	margin-left: 6px;
}
.in_menu div{
	float:left;
}
.in_menu button{
	float: left;
	margin: 3px 10px 9px 0px;
}

.btn-action-menu{
	clear:both;
	display:inline-block;
}

.btn-detail{
	padding-bottom: 10px;
}

.image-path{
	clear:left;
	width: 290px;//width:375px;
}

.v1alert-message.inline {
	position: fixed;
	top: 2px;
	display: block;
}
.v1alert-message {
	background-color: #f9f6c5;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#f9f6c5),to(#f9f6c5));
	background-image: -moz-linear-gradient(top,#f9f6c5,#f9f6c5);
	background-image: -ms-linear-gradient(top,#f9f6c5,#f9f6c5);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f9f6c5),color-stop(100%,#f9f6c5));
	background-image: -webkit-linear-gradient(top,#f9f6c5,#f9f6c5);
	background-image: -o-linear-gradient(top,#f9f6c5,#f9f6c5);
	background-image: linear-gradient(top,#f9f6c5,#f9f6c5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6c5',endColorstr='#f9f6c5',GradientType=0);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-color: #f9f6c5 #f9f6c5 #f2eb80;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	margin-bottom: 18px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: 999;
	width: 75px;
	padding-top: 5px;
	padding-left: 10px;
}

.groupbutton{
	float:right;
	margin: 10px 10px 10px 0;
}

.clear-filter{
	margin-left: -6px;
	border-left: 0;
	position: relative;
	z-index: 2;
	background-color: #fff;
}

.input-filter{
	background-color: #fff;
	float: left;
}

.select-filter{
	width: 115px;
}

.datepick{
	width: 100px;
	margin-left: 10px;
}

.lbl-filter-by{
	font-weight: bold;
	width: 100px;
	float: left;
	padding-top: 7px;
	margin-left: 10px;
}

.lbl-filter-left{
	width: 100px;
	float: left;
	padding-top: 7px;
	margin-left: 10px;
}

.lbl-filter-right{
	width: 80px;
	float: left;
	padding-top: 5px;
	margin-left: 46px;
}
// for filter
.input-prepend{
	.select-attr{
		width: 99%;
		float: left;
		margin: 0px 4px 4px 0px;
	}
	.select-type-date{
		float: left;
		margin: 0px 0px 7px 0px;
		div{
			.clear-filter{
				margin-left: -30px;
				background-color: #fff;
				border-left: 0;
				margin-right:10px;
			}
		}
		.div-input-filter{
			margin-top: 4px;
			margin-right: 10px;
		}
	}
	.div-datepick{
		float: left;
		margin-top: 4px;
		width: 303px;
		.datepicker1{
			float: left;
			margin: 0 0px 0 10px;
		}
		.datepick{
			width: 75px;
			border-radius: 2px;
			margin-right: 2px;
		}

		.datepicker2{
			float: left;
			margin-left: 2px;
		}
	}
}

.modal-body{
	padding: 10px 10px 10px 15px;
	max-height: 70%;
	.update{
		clear: both;
		label{
			width: 100px;
			float: left;
		}
		span{
			width: 70%;
			margin-left: 1px;
		}
	}
}
.div-footer {
	float: left; 
	margin: 5px 0px 0px 2px;
	padding: 10px 10px 10px;
	width: 97%;
	-webkit-border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #D3CFCF;
	-moz-box-shadow: inset 0 1px 0 #D3CFCF;
	box-shadow: inset 0 1px 0 #D3CFCF;
	img{
		cursor:pointer;
	}
}

form{
	margin-bottom: 0px;
}

.ui-datepicker-trigger{
	height: 17px;
}

.input-append .add-on{
	margin-left:-7px;
	margin-right: 7px;
}

.admin-content{
	min-height: 650px;
	background: url(/img/bg-repeat.png);
}
// .navbar{
	// .navbar-inner{
		.top-header{
			position: relative;
			z-index: 999;
			.container{
				height: 100px;
				.header1{
					height: 50px;
					h2{
						color: #332525;
					}
				}
				.header2{
					border-radius: 8px 8px 0 0;
					border-bottom: 5px solid white;
					height: 41px;
					background-color: #F0494F;

					.header-left{
						margin-top: 10px;
						float:left; width:40%;
						img{
							margin: 1px 10px;
						}
						// a:before {
						// 	content: "";
						// 	width: 1px;
						// 	height: 40px;
						// 	background: #fff;
						// 	display: inline-block;
						// 	float: left;
						// 	margin-right: 10px;
						// 	vertical-align: middle;
						// 	margin-top: -10px;
						// }
						a{
							text-decoration:none;
							h3{
								line-height:24px;
								font-size:1.1em;
								color:#fff;
								border-left: 1px solid #fff;
                    			margin-left: 36px;
                    			padding-left: 7px;
							}
						}
					}
					.header-right{
						float:right;
						margin-top: 10px;
						width: 20%;
						div{
							padding-bottom: 2px;
							width: 46%; 
							float: left;
							//border: 1px solid #ccc;
							background-color: #fff;
							height: 29px;
							border-radius: 7px 11px 2px 2px;
							img{
								float: left;
							}
							span{
								margin: 8px 6px 0 8px;
							}
						}
						.viewsite{
							margin-right: 5px;
							background-color: #FEECED;
						}
						.viewadmin{
							background-color: #FEECED;
							li{
								ul{
									min-width: 120px;
								}
							}
						}
					}
				}
			}
		}
	// }
// }

.top-menu{
	margin: 0 0 1px -1px;
	width: 228px;
	color:#fff;
	font-weight:bold;
	padding:7px 0 7px 0;
	text-align:center;
	font-size: 1.1em;
	border: 1px solid #ccc;
	border-radius: 5px 5px 0 0;
	background-color: #ed1c24;
	opacity: 0.8;
	h4{
		margin: 6px 2px 2px -4px;
		text-align: center;
	}
}
.span9{
	background-color:#fff;
	.header-title{
		background-color: #464646;
		opacity: 0.8;
		color: #fff;
		text-align: center;
		height: 30px;
	}
}

.row-fluid .span3 {
	background-color: #fff;
	width: 20.4%;
	padding-right:10px;
	padding-top:10px;
	//min-height: 835px;
	border-bottom: 10px solid #E0DEDE;
}

.row-fluid .span9 {
	width: 78.99%;
	margin-left: 0.564103%;
	padding-bottom: 10px;
	//min-height: 650px;
}

.table{
	width:98%;
	margin: 0 10px 0 10px;
}

.table td {
	line-height: 34px
}

.admin-content{
	.img{
		cursor:pointer;
	}
}

.btn-login{
	float: right;
	margin: 4px 3px 0px 0px;
}
.remember{
	float: left;
	margin: 8px 13px 0px 0px;
}

// mess alert
#alertMsg1, #alertMsg, #workingSearch{
	display: none;
}

.div-clear{
	clear: both;
}

.border_content{
	.div-search{
		margin: 0 0 5px;
	}
}
