.border-radius (@top: 0px,@right:0px,@bot: 0px, @left: 0px) {
  -webkit-border-radius: @top @right @bot @left;
  -moz-border-radius: @top @right @bot @left;
  -ms-border-radius: @top @right @bot @left;
  -o-border-radius: @top @right @bot @left;
  border-radius: @top @right @bot @left;
}

.borderAll (@r:0px){
	-webkit-border-radius: @r;
	-moz-border-radius: @r;
	-ms-border-radius: @r;
	-o-border-radius: @r;
	border-radius: @r;
}