// constant
@color: #4D926F;

// #header {
//   color: @color;
// }


.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

#header {
  .rounded-corners;
}
#footer {
  .rounded-corners(10px);
}
/*Nested Rules*/
#header {
  // h1 {
  //   font-size: 26px;
  //   font-weight: bold;
  // }
  // p { font-size: 12px;
  //   a { text-decoration: none;
  //     &:hover { border-width: 1px }
  //   }
  // }
}