.login{
	border: 1px solid #CCD0BE;
	width: 24%;
	padding: 15px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;	
	background-color:#FFF;
	-webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.15);
    box-shadow: 0 2px 3px rgba(0,0,0,.15);
	
	width: 300px;

	legend {
		margin-bottom: 10px;
	}
	form {
		margin: 0 0 8px;
	}
	.text{
		width: 87%;
	}
	.alertLogin{
		width: 100%;
		height: 30px;
	}
}
.wrapper_login{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #eee;
}