.test-div{
	padding: 0px 10px 0px 10px;
	margin: 0px 10px 0px 10px;
}

span{
	color: black;
}
#username {
	color: lightblue;
}

.btn-delete{
	background-image: url("/img/btn-delete.png");
}

.btn-addnew{
	background-image: url("/img/btn-new.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 90px;
	height: 29px;
	display: inline-block;
	vertical-align: middle;
}

.btn-cancel{
	background-image: url("/img/btn-cancel.png");
}