.nav-top{
	height: 50px;
	.logoEa{
		margin-top: 12px;
	}
}
.nav-bot{
	height: 41px;
	background-color: #F0494F;
	margin-bottom:10px;
	border-bottom:5px solid #fff
}
.viewsite, .viewadmin{
	background-color: #fff;
	padding:5px 10px 5px 10px;
	margin:0px 0 0 10px;
	border-radius: 0 0 4px 4px;
}
.viewsite img{
   margin: -2px 5px 0 0;
}
.viewadmin img{
	margin: 1px 5px 0 0;
}
.viewadmin li{
	list-style: none;
}
.menu-list li{
 cursor:pointer;
 display:inline-block;
 font-size:15px;
 padding:12px 3% 9px 3%;
 &:hover{
 	background-color:#d93d3f;
 }
}
.menu-list li a{
text-decoration:none;
	color:#fff;
	font-weight:bold;
}

.menu-list{
margin:0;
}
.menu-list img{
margin: 11px 20px 2px 0px;
}
.activeMenu{
 background-color:#d93d3f;
 border: 1px solid #C53D3D;
}

#span9{
 background-color:#fff;
 .borderAll(5px);
 margin-bottom: 10px;
}
.header-title{
 background-color:#696969;
 text-align:center;
 color:#fff;
 padding:5px;
 .border-radius(5px,5px,0,0);
}