<div ng-controller="MenusController" class="border_content">
	<div id="alertMsg"></div>
	<div class="div-search">
		
		<div class="input-prepend">
			<form id="validateSearch" name="formSearch" ng-submit="searchData('menus');">
				<label class="lbl-filter-by">Search by:</label><br>
				<div class="select-attr">
					<label class="lbl-filter-left">Title</label>
					<input class="input-filter" name="titles" id="inputIcon" type="text" ng-model="titles" placeholder="Title">	
					<input title="Search"  ng-disabled="formSearch.$invalid" class="img" type="image" src="img/btn-search.png"/>
					<img class="img" src="img/btn-clear.png" ng-click="resetSearch()" title="Clear"/>
					<img class="img" src="img/btn-refresh.png" ng-click="init(options);resetSearch()" title="Refresh"/>				
				</div>
				<div class="div-clear"></div>
				<div class="select-attr">
					<label class="lbl-filter-left">Path</label>
					<input class="input-filter" name="paths" id="inputIcon2" type="text" ng-model="paths" placeholder="Path">
				</div>
				<!-- date create -->
				<div class="div-clear"></div>
				<label class="lbl-filter-left">Date created</label>
				<!-- option -->
				<div class="select-type-date">
					<select id="date-selection" name="select" class="select-filter" ng-model="option_1" >
						<option value="">--Select--</option>
						<option value="=">=</option>
						<option value=">=">>=</option>
						<option value="<="><=</option>
						<option value="between">between</option>
					</select>
				</div>
				<!-- datepicker 1 -->
				<div  class="div-datepick">
					<div class="datepicker1" ng-show="option_1 != ''">
						<div class="controls">
							<div class="input-append">
								<input ng-pattern="date" novalidate name="from_created" class="datepick" type="text" id="from_created" ng-model="from_created" readonly/>
								<span class="add-on"><i class="icon-calendar from_created"></i></span>
							</div>
						</div>
						<div ng-show="formSearch.from_created.$error.pattern">
							<span class="search-error">mm/dd/yyyy</span>
							<div class="formErrorArrow">
								<div class="line10"></div>
								<div class="line9"></div>
								<div class="line8"></div>
								<div class="line7"></div>
								<div class="line6"></div>
								<div class="line5"></div>
								<div class="line4"></div>
								<div class="line3"></div>
							</div>
						</div>
					</div>
					<!-- datepicker 2 -->
					<div class="datepicker2" ng-show="option_1 == 'between'"> 
						<div class="controls">
							<div class="input-append">
								<input  ng-pattern="date" name="to_created" class="datepick" type="text" id="to_created" ng-model="to_created" readonly/>
								<span class="add-on"><i class="icon-calendar to_created"></i></span>
							</div>
						</div>
						<div ng-show="formSearch.to_created.$error.pattern">
							<span class="search-error">mm/dd/yyyy</span>
							<div class="formErrorArrow">
								<div class="line10"></div>
								<div class="line9"></div>
								<div class="line8"></div>
								<div class="line7"></div>
								<div class="line6"></div>
								<div class="line5"></div>
								<div class="line4"></div>
								<div class="line3"></div>
							</div>
						</div>
					</div>

				</div>
				<!-- date modified -->
				<div class="div-clear"></div>
				<label class="lbl-filter-left">Date modified</label>
				<div class="select-type-date">
					<select id="date-selection" name="select" class="select-filter" ng-model="option_2" >
						<option value="">--Select--</option>
						<option value="=">=</option>
						<option value=">=">>=</option>
						<option value="<="><=</option>
						<option value="between">between</option>
					</select>
				</div>

				<div  class="div-datepick">
					<div class="datepicker1" ng-show="option_2 != ''">
						<div class="controls">
							<div class="input-append">
								<input ng-pattern="date" novalidate name="from_modified" class="datepick" type="text" id="from_modified" ng-model="from_modified" readonly/>
								<span class="add-on"><i class="icon-calendar from_modified"></i></span>
							</div>
						</div>
						<div ng-show="formSearch.from_modified.$error.pattern">
							<span class="search-error">mm/dd/yyyy</span>
							<div class="formErrorArrow">
								<div class="line10"></div>
								<div class="line9"></div>
								<div class="line8"></div>
								<div class="line7"></div>
								<div class="line6"></div>
								<div class="line5"></div>
								<div class="line4"></div>
								<div class="line3"></div>
							</div>
						</div>
					</div>
					<div class="datepicker2" ng-show="option_2 == 'between'"> 
						<div class="controls">
							<div class="input-append">
								<input  ng-pattern="date" name="to_modified" class="datepick" type="text" id="to_modified" ng-model="to_modified" readonly/>
								<span class="add-on"><i class="icon-calendar to_modified"></i></span>
							</div>
						</div>
						<div ng-show="formSearch.to_modified.$error.pattern">
							<span class="search-error">mm/dd/yyyy</span>
							<div class="formErrorArrow">
								<div class="line10"></div>
								<div class="line9"></div>
								<div class="line8"></div>
								<div class="line7"></div>
								<div class="line6"></div>
								<div class="line5"></div>
								<div class="line4"></div>
								<div class="line3"></div>
							</div>
						</div>
					</div>

				</div>
				
			</form>
		</div>
	</div>
	<!-- End fitler -->
	
	<div id="workingSearch" class="working">
		<span class="v1alert-message warning inline">Loading...</span>
	</div>
	<!-- List -->
	<table class="table table-striped" id="table" style="display:none;">
		<thead>
			<th> <input type="checkbox" class="checkAll" ng-click="checkAll(check); check =! check;"> </th>
			<th><a class="sort" ng-click="predicate = '_data.title'; reverse=!reverse" href="">Title</a></th>
			<th><a class="sort" ng-click="predicate = '_data.path'; reverse=!reverse" href="">Path</a></th>
			<th><a class="sort" ng-click="predicate = '_data.order'; reverse=!reverse" href="">Order</a></th>
			<th><a class="sort" ng-click="predicate = '_data.created'; reverse=!reverse" href="">Date Created</a></th>
			<th><a class="sort" ng-click="predicate = '_data.modified'; reverse=!reverse" href="">Date Modified</a></th>
		</thead>
		<tbody>
			<tr ng-repeat="menu in menus | filter:filterByTitle | orderBy:predicate:reverse">
				<td> <input class="chk" type="checkbox" value={{menu._data.uuid}} ng-click="check1()" name="chk"> </td>
				<td><a href="#myModalUpdate" data-toggle="modal" ng-click="menuDetail(menu._data)"> {{menu._data.title}}</a></td>
				<td> {{menu._data.path}} </td>
				<td> {{menu._data.order}} </td>
				<td> {{menu._data.created | date:'MM/dd/yyyy - h:mma'}} </td>
				<td> {{menu._data.modified | date:'MM/dd/yyyy - h:mma'}} </td>
			</tr>
		</tbody>
	</table>
	<div id="messNotFound" style="display:none;text-align: center;">
		No record found.
	</div>
	
	<div class="div-footer">
		<img class="img" src="img/btn-delete.png" ng-click="deleteMenus()"/>
		<a href="#myModalAdd" role="button" class="btn-addnew" data-toggle="modal" ng-click="initCreate()" ></a>
		<ul class="pager" style="float:right;">
			<img class="img" src="img/prev-1.png" ng-click="prevPage()" id="prevPage"/>
        	<img class="img" src="img/next-2.png" ng-click="nextPage()" id="nextPage"/>
		</ul>
	</div>

	<!-- Modal -->
	<div id="myModalAdd" class="modal hide fade myMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div id="workingAdd" class="working" style="display:none;">
			<span class="v1alert-message warning inline">Loading...</span>
		</div>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Add new Menu</h3>	    
		</div>
		<div class="modal-body" style="max-height: 500px;">
			<div class="row-fluid">
				<div class="span4">				
					<div id="add-page" class="postbox ">
						<h3 class="hndle"><span>Pages</span></h3>
						<div class="inside">
							<div id="posttype-page" class="posttypediv">
								<div id="page-all" class="tabs-panel tabs-panel-view-all">
									<ul id="pagechecklist" class="list:page categorychecklist form-no-clear" ng-repeat="page in pages">
										<li>
											<label class="menu-item-title">
												<input type="checkbox" class="menu-item-checkbox add-to-top" ng-model="page._data.ischecked" ng-change="change_check_pages()"> {{page._data.title}}</label>
											</li>	
										</ul>
									</div><!-- /.tabs-panel -->

									<p class="button-controls">
										<span class="list-controls">
											<label style="margin-left: 10px;"><input type="checkbox" ng-model="checkPage" ng-click="selectAllPages(checkPage)"/>Select All</label>
										</span>

										<span class="add-to-menu">								
											<input type="submit" class="button-secondary submit-add-to-menu" value="Add to Menu" ng-click="addPageToMenu(pages)">
										</span>
									</p>

								</div><!-- /.posttypediv -->
							</div>
						</div>  <!-- end div add page to menu -->

						<div id="add-category" class="postbox ">
							<h3 class="hndle"><span>Categories</span></h3>
							<div class="inside">
								<div id="posttype-page" class="posttypediv">
									<div id="page-all" class="tabs-panel tabs-panel-view-all">
										<ul id="pagechecklist" class="list:page categorychecklist form-no-clear" ng-repeat="category in categories">
											<li>
												<label class="menu-item-title">
													<input type="checkbox" class="menu-item-checkbox add-to-top" ng-model="category._data.ischecked" ng-change="change_check_categories()"> {{category._data.title}}</label>
												</li>					
											</ul>
										</div><!-- /.tabs-panel -->

										<p class="button-controls">
											<span class="list-controls">
												<label style="margin-left: 10px;"><input type="checkbox" ng-model="checkCate" ng-click="selectAllCategories(checkCate)"/>Select All</label>
											</span>

											<span class="add-to-menu">								
												<input type="submit" class="button-secondary submit-add-to-menu" value="Add to Menu" ng-click="addCategoryToMenu(categories)">
											</span>
										</p>

									</div><!-- /.posttypediv -->
								</div>
							</div>  <!-- end div add page to menu -->
						</div> <!-- end span 4 -->

						<div class="span8">
							<div id="alertMsg1"></div>
							<div class="mainbody">
								<div id="add-custom-links" class="postbox ">
									<h3 class="hndle"><span>Custom Links</span></h3>
									<div class="inside">
										<div class="customlinkdiv" id="customlinkdiv">	

											<div class="menu-item-url-wrap">
												<label class="howto" >
													URL
												</label>
												<input type="text" class="code menu-item-textbox"  ng-model="urlCustom" required placeholder="#/your link...">
											</div>

											<div class="menu-item-url-wrap">
												<label class="howto">
													Title
												</label>
												<input  type="text" class="regular-text menu-item-textbox input-with-default-title" ng-model="titleCustom" required ng-maxlength="20">
												
											</div>

											<p class="button-controls">
												<span class="add-to-menu">							
													<input type="submit" class="button-secondary submit-add-to-menu" value="Add to Menu" ng-click="addLinkToMenu()">
												</span>
											</p>

										</div><!-- /.customlinkdiv -->
									</div>
								</div>

								<ul class="menu ui-sortable" id="menu-to-edit" >

									<div class="accordion" id="accordion2">
										<!-- <li ng-repeat="menu in menus" > -->
										<div class="accordion-group" ng-repeat="menu in menus">
											<div class="accordion-heading">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#{{menu._data.uuid}}" ng-click="accordion_selected(menu._data.uuid)">
													{{menu._data.name}}
													<!-- <i class="icon-chevron-right"></i> -->
												</a>
											</div>
											<div id="{{menu._data.uuid}}"  class="accordion-body collapse">
												<div class="accordion-inner">
													<div class="in_menu">
														<div>
															<label >URL</label>
															<input type="text" ng-model="menu._data.path">
														</div>
														<div>
															<label >Title</label>
															<input type="text" ng-model="menu._data.title">
														</div>
														<div>
															<label >Order</label>
															<input type="number" ng-model="menu._data.order" min="0" max="99">
														</div>
														<div>
															<label >Parrent</label>
															<input type="number" ng-model="menu._data.parrent" min="0" max="99">
														</div>
														<div class="btn-action-menu">
															<button class="btn btn-danger" ng-click="deleteMenu(menu._data)">Delete</button>
															<button class="btn btn btn-primary" ng-click="updateMenu(menu._data)">Save</button>
															<!-- <img class="img" data-dismiss="modal" src="img/btn-cancel.png"/>
															<button  class="btn-addsave" data-toggle="modal" ng-click="createGallery()" ng-disabled="(formAdd.title.$pristine || formAdd.title.$dirty && formAdd.title.$invalid) || (formAdd.path.$pristine || formAdd.path.$dirty && formAdd.path.$invalid)"></button> -->
														</div>
														
													</div>
												</div>
											</div>
										</div>
										<!-- </li> -->
									</div>
								</ul>
							</div>
						</div><!-- end span 8 -->

					</div>
				</div>
	  <!-- <div class="modal-footer">
	    <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Close</button>
	    <button class="btn btn-primary">Save</button>
	</div> -->
</div>
<!--  ====================== Model update  ========== -->
<div id="myModalUpdate" class="modal hide fade myMod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div id="working" class="working" style="display:none;">
		<span class="v1alert-message warning inline">Loading...</span>
	</div>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Menu Details</h3>
	</div>
	<div class="modal-body">
		<div id="alertMsg1"></div>
		<form name="formUpdate" novalidate>	
			<div class="update">
				<label>Title:</label> 
				<input type="text" ng-model="menu.title" required autofocus ng-change="changeForm(menu)" name="title">
				<span ng-show="formUpdate.title.$dirty && formUpdate.title.$invalid">
					<span class="custom-error" ng-show="formUpdate.title.$error.required">Title is a mandatory field.</span>
				</span>
			</div>			
			<div class="update">
				<label>Path:</label> 
				<input type="text" ng-model="menu.path" required ng-change="changeForm(menu)">
			</div>			
			<div class="update">
				<label>Order:</label> 
				<input type="number"  ng-model="menu.order" ng-change="changeForm(menu)" min="0" max="99"></input>
			</div>
			<div class="update">
				<label>Parrent:</label> 
				<input  type="number" ng-model="menu.parrent" ng-change="changeForm(menu)" min="0" max="99"></input>
			</div>
			<div class="update">
				<label>Date created:</label> 
				<span  class="span-display">{{ menu.created | date:'MM/dd/yyyy - h:mma'}}</span>
			</div>
			<div class="update">
				<label>Date modified:</label> 
				<span  class="span-display">{{ menu.modified | date:'MM/dd/yyyy - h:mma'}}</span>
			</div>
			<div class="div-clear"></div>
			<div class="modal-footer">
				<!-- <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button id="btn_update_menu" class="btn btn-primary" ng-click="updateDetailMenu(menu)" disabled ng-disabled="(formUpdate.title.$pristine || formUpdate.title.$dirty && formUpdate.title.$invalid)">Save</button> -->
				<img class="img" data-dismiss="modal" src="img/btn-cancel.png"/>
				<button id="btn_update_menu" class="btn-addsave" data-toggle="modal" ng-click="updateDetailMenu(menu)" ng-disabled="(formUpdate.title.$pristine || formUpdate.title.$dirty && formUpdate.title.$invalid)" disabled></button>
			</div>
		</form>
	</div>
	
</div>

</div>
<script type="text/javascript">
function imgError(image){
	$(image).show();
}
</script>
<script>
$(function() {
	  //	$("#validateSearch").validationEngine();
	  $( "#from_created" ).datepicker({
	  	defaultDate: "+1w",
	  	dateFormat: "mm/dd/yy",
	  	changeMonth: true,
	  	numberOfMonths: 1,
	  	onClose: function( selectedDate ) {
	  		$("#to_created").datepicker("option","minDate",selectedDate);
	  	}
	  });
	  $( "#from_modified" ).datepicker({
	  	defaultDate: "+1w",
	  	dateFormat: "mm/dd/yy",
	  	changeMonth: true,
	  	numberOfMonths: 1,
	  	onClose: function( selectedDate ) {
	  		$("#to_modified").datepicker("option","minDate",selectedDate);
	  	}
	  });
	  $( "#to_created" ).datepicker({
	  	defaultDate: "+1w",
	  	dateFormat: "mm/dd/yy",
	  	changeMonth: true,
	  	numberOfMonths: 1,
	  	onClose: function( selectedDate ) {
	       // $("#from").datepicker("option","maxDate",selectedDate);
	   }
	});
	  $( "#to_modified" ).datepicker({
	  	defaultDate: "+1w",
	  	dateFormat: "mm/dd/yy",
	  	changeMonth: true,
	  	numberOfMonths: 1,
	  	onClose: function( selectedDate ) {
	       // $("#from").datepicker("option","maxDate",selectedDate);
	   }
	});
	  
	  $(".from_created").click(function(){
        $("#from_created").datepicker('show');
      });
      $(".to_created").click(function(){
        $("#to_created").datepicker('show');
      });
      $(".from_modified").click(function(){
        $("#from_modified").datepicker('show');
      });
      $(".to_modified").click(function(){
        $("#to_modified").datepicker('show');
      });

	});
</script>